<app-navbar></app-navbar>

<div class="title-container">
  <h1 class="title">View Capability</h1>
</div>

<div class="search-container">
  <form action="">
    <input type="text" placeholder="Search Capability">
  </form>
</div>

<div class="container">
  <table>
    <thead>
      <tr>
        <th>Kode Rating</th>
        <th>Kode Training</th>
        <th>Nama Training</th>
        <th>Durasi Materi Regulas GSE</th>
        <th>Durasi Materi Rating</th>
        <th>Total Durasi</th>
        <th>Kurikulum & Silabus</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>BTT</td>
        <td>TCT - 0535</td>
        <td>Baggage Towing Tractor</td>
        <td>23</td>
        <td>25</td>
        <td>48</td>
        <td><a href="#">lihat</a></td>
        <td></td>
      </tr>
      <tr>
        <td>FLT</td>
        <td>TCT - 0536</td>
        <td>Forklift</td>
        <td>23</td>
        <td>25</td>
        <td>48</td>
        <td><a href="#">lihat</a></td>
        <td></td>
      </tr>
      <tr>
        <td>RDS</td>
        <td>TCT - 0534</td>
        <td>Refueling Defueling System</td>
        <td>24</td>
        <td>40</td>
        <td>64</td>
        <td><a href="#">lihat</a></td>
        <td></td>
      </tr>
      <tr>
        <td>GPS</td>
        <td>TCT - 0526</td>
        <td>Ground Power System</td>
        <td>23</td>
        <td>25</td>
        <td>48</td>
        <td><a href="#">lihat</a></td>
        <td></td>
      </tr>
      <tr>
        <td>ACS</td>
        <td>TCT - 0528</td>
        <td>Air Conditioning System</td>
        <td>23</td>
        <td>25</td>
        <td>48</td>
        <td><a href="#">lihat</a></td>
        <td></td>
      </tr>
      <tr>
        <td>ATT</td>
        <td>TCT - 0555</td>
        <td>Aircraft Towing Tractor</td>
        <td>23</td>
        <td>41</td>
        <td>64</td>
        <td><a href="#">lihat</a></td>
        <td></td>
      </tr>
      <tr>
        <td>LSS</td>
        <td>TCT - 0530</td>
        <td>Lavatory Service System</td>
        <td>23</td>
        <td>25</td>
        <td>48</td>
        <td><a href="#">lihat</a></td>
        <td></td>
      </tr>
      <tr>
        <td>WSS</td>
        <td>TCT - 0529</td>
        <td>Water Service System</td>
        <td>23</td>
        <td>25</td>
        <td>48</td>
        <td><a href="#">lihat</a></td>
        <td></td>
      </tr>
      <tr>
        <td>ASS</td>
        <td>TCT - 0527</td>
        <td>Air Starter System</td>
        <td>23</td>
        <td>25</td>
        <td>48</td>
        <td><a href="#">lihat</a></td>
        <td></td>
      </tr>
      <tr>
        <td>MUV</td>
        <td>TCT - 0537</td>
        <td>Maintenance Unit Vehicle</td>
        <td>23</td>
        <td>25</td>
        <td>48</td>
        <td><a href="#">lihat</a></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="nav">
  <div class="nav-pagination">
    &lt; Priview ..... 1 2 3 ..... Next &gt;
  </div>
</div>

<div class="container-button">
  <app-white-button routerLink="/home" id="back-app-white-button">Back</app-white-button>
  <app-blue-button>Add</app-blue-button>
</div>
