form input {
  width: 854px;
  height: 51px;
  border-radius: 15px;
  font-size: 25px;
  padding-left: 10px;
  border: none;
}

i {
  font-size: 35px;
  position: absolute;
  margin-left: -50px;
  margin-top: 7px;
  cursor: pointer;
}
