<app-title [pageTitle]="pageTitle"></app-title>

<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-container">
    <div class="left-column">
      <app-base-input
        [(ngModel)]="participant.idNumber"
        name="idNumber"
        label="No Pegawai"
        placeholder="No Pegawai"
        type="text"
        autocomplete="idNumber"
        inputMode="tel">
      </app-base-input>

      <app-base-input
        [(ngModel)]="participant.name"
        name="name"
        label="Nama"
        [isRequired]="true"
        placeholder="Masukkan nama asli, nama akan digunakan pada data sertifikat"
        type="text"
        autocomplete="name"
        inputMode="text"
        #name="ngModel"
        required
        [restrictToPattern]="'^[a-zA-Z ]+$'"
        [pattern]="'^[a-zA-Z ]+$'"
      >
      </app-base-input>

      <app-base-input
        [(ngModel)]="participant.nik"
        name="nik"
        label="NIK/Paspor"
        [isRequired]="true"
        placeholder="Masukkan NIK/Paspor"
        type="text"
        autocomplete="NIK"
        inputMode="text"
        #nik="ngModel"
        required
        [restrictToPattern]="'^[0-9]+$'"
        [pattern]="'^[0-9]+$'"
      >
      </app-base-input>

      <app-base-input
        [(ngModel)]="participant.dinas"
        name="dinas"
        label="Dinas"
        placeholder="Dinas"
        type="text"
        autocomplete="dinas"
        inputMode="text">
      </app-base-input>

      <app-base-input
        [(ngModel)]="participant.bidang"
        name="bidang"
        label="Bidang"
        placeholder="Bidang"
        type="text"
        autocomplete="bidang"
        inputMode="text">
      </app-base-input>

      <app-company-input
        [selectedCompany]="selectedCompany"
        [companyName]="companyName"
        [showCompanyInput]="showCompanyInput"
        [isRequired]="true"
      >
      </app-company-input>

      <app-base-input
        [(ngModel)]="participant.email"
        name="email"
        label="Email"
        [isRequired]="true"
        placeholder="Gunakan alamat email aktif"
        type="email"
        autocomplete="email"
        inputMode="text"
        [disabled]="isUpdate && (!currentUserRole || currentUserRole !== 'super admin')"
        #email="ngModel"
      >
    </app-base-input>
    <span *appRoleBasedAccess="['user']">Anda tidak dapat mengubah alamat email disini</span>

      <app-base-input
        [(ngModel)]="participant.phoneNumber"
        name="phoneNumber"
        label="Nomor Telepon"
        [isRequired]="true"
        placeholder="Gunakan nomor telepon aktif"
        type="tel"
        autocomplete="phone"
        inputMode="tel"
        #phoneNumber="ngModel"
        [restrictToPattern]="'^[0-9-+ ]+$'"
        pattern="^[0-9-+ ]+$"
        required
      >
      </app-base-input>

      <app-base-input
        [(ngModel)]="participant.nationality"
        name="nationality"
        label="Kewarganegaraan"
        [isRequired]="true"
        placeholder="Isi kewarganegaraan sesuai KTP/Paspor"
        type="text"
        autocomplete="country"
        inputMode="text"
        #nationality="ngModel"
        >
      </app-base-input>

      <app-base-input
        [(ngModel)]="participant.placeOfBirth"
        name="placeOfBirth"
        label="Tempat Lahir"
        [isRequired]="true"
        placeholder="Isi Tempat Lahir sesuai KTP/Paspor"
        type="text"
        autocomplete="address-level2"
        inputMode="text"
        #placeOfBirth="ngModel"
        >
      </app-base-input>
    </div>
    <div class="right-column">
      <app-base-input
        [(ngModel)]="participant.dateOfBirth"
        name="dateOfBirth"
        label="Tanggal Lahir"
        [isRequired]="true"
        type="date"
        inputmode="date"
        #dateOfBirth="ngModel"
        defaultMessage="Isi Tanggal Lahir sesuai KTP/Paspor"
      >
      </app-base-input>

      <app-file-input
        idInput="sim_a_input"
        (valueChange)="onFileChange('simA', $event)"
        label="SIM A"
        placeholder="Unggah file maksimal 2 MB dengan format png, jpg, jpeg, atau pdf."
        [isRequired]="true"
        [fileName]="participant.simAFileName"
        [fileType]="fileType"
        [required]="participant.simAFileName"
      >
    </app-file-input>
    <span *ngIf="!participant.simAFileName && form.submitted" class="error-message">SIM A wajib diunggah</span>

      <app-file-input
        idInput="sim_b_input"
        (valueChange)="onFileChange('simB', $event)"
        label="SIM B"
        placeholder="Unggah file maksimal 2 MB dengan format png, jpg, jpeg, atau pdf."
        [fileName]="participant.simBFileName"
        [fileType]="fileType"
      >
    </app-file-input>

      <app-file-input
        idInput="ktp_input"
        (valueChange)="onFileChange('ktp', $event)"
        label="KTP/Paspor"
        placeholder="Unggah file maksimal 2 MB dengan format png, jpg, jpeg, atau pdf."
        [isRequired]="true"
        [fileName]="participant.ktpFileName"
        [fileType]="fileType">
      </app-file-input>
      <span *ngIf="!participant.ktpFileName && form.submitted" class="error-message">KTP wajib diunggah</span>

      <app-file-input
        idInput="foto_input"
        (valueChange)="onFileChange('foto', $event)"
        label="Pas Foto"
        placeholder="Unggah file maksimal 2 MB dengan format png, jpg, atau jpeg. ukuran 3x4."
        [isRequired]="true"
        [fileName]="participant.fotoFileName"
        [fileType]="fileTypeFoto">
      </app-file-input>
      <span *ngIf="!participant.fotoFileName && form.submitted" class="error-message">Pas Foto wajib diunggah</span>

      <app-file-input
        idInput="surat_sehat_input"
        (valueChange)="onFileChange('suratSehatButaWarna', $event)"
        label="Surat Ket Sehat dan Buta Warna"
        placeholder="Unggah file maksimal 2 MB dengan format png, jpg, jpeg, atau pdf."
        [isRequired]="true"
        [fileName]="participant.suratSehatButaWarnaFileName"
        [fileType]="fileType">
      </app-file-input>
      <span *ngIf="!participant.suratSehatButaWarnaFileName && form.submitted" class="error-message">Surat Ket Sehat dan Buta Warna wajib diunggah</span>

      <app-base-input
        [(ngModel)]="participant.tglKeluarSuratSehatButaWarna"
        name="tglKeluarSuratSehatButaWarna"
        label="Tanggal Pembuatan Surat Ket Sehat & Buta Warna"
        [isRequired]="true"
        defaultMessage="Masukkan tanggal keluar surat sehat sesuai dengan tanggal keluar surat yang diunggah"
        type="date"
        inputmode="date"
        #tglKeluarSuratSehatButaWarna="ngModel"
        required
      >
      </app-base-input>

      <app-file-input
        idInput="surat_bebas_narkoba_input"
        (valueChange)="onFileChange('suratBebasNarkoba', $event)"
        label="Surat Ket Bebas Narkoba"
        placeholder="Unggah file maksimal 2 MB dengan format png, jpg, jpeg, atau pdf."
        [isRequired]="true"
        [fileName]="participant.suratBebasNarkobaFileName"
        [fileType]="fileType"
      >
      </app-file-input>
      <span *ngIf="!participant.suratBebasNarkobaFileName && form.submitted" class="error-message">Surat Ket Bebas Narkoba wajib diunggah</span>

      <app-base-input
        [(ngModel)]="participant.tglKeluarSuratBebasNarkoba"
        name="tglKeluarSuratBebasNarkoba"
        label="Tanggal Pembuatan Surat Ket Bebas Narkoba"
        [isRequired]="true"
        defaultMessage="Masukkan tanggal keluar surat sehat sesuai dengan tanggal keluar surat yang diunggah"
        type="date"
        inputmode="date"
        #tglKeluarSuratBebasNarkoba="ngModel"
        required
      >
      </app-base-input>
    </div>
  </div>

  <div class="container-button">
    <app-white-button type="button" [routerLink]="backButtonRoute" class="button">Kembali</app-white-button>
    <app-blue-button type="submit" class="button" [disabled]="form.invalid! && !isUpdate">Simpan</app-blue-button>
  </div>
</form>
