<app-navbar></app-navbar>

<div class="title-container">
  <h1 class="title">Participant Data</h1>
</div>

<form>
  <div class="form-container">
      <div class="left-column">
          <label for="noPegawai">No Pegawai</label>
          <app-input type="text"></app-input>

          <label for="nama">Nama</label>
          <app-input type="text"></app-input>

          <label for="dinas">Dinas</label>
          <app-input type="text"></app-input>

          <label for="bidang">Bidang</label>
          <app-input type="text"></app-input>

          <label for="perusahaan">Perusahaan</label>
          <app-input type="text"></app-input>

          <label for="email">Email</label>
          <app-input type="email"></app-input>

          <label for="nomorTelpon">Nomor Telpon</label>
          <app-input type="tel"></app-input>

          <label for="negara">Negara</label>
          <app-input type="text"></app-input>
      </div>

      <div class="right-column">
          <label for="tempatLahir">Tempat Lahir</label>
          <app-input type="text"></app-input>

          <label for="tanggalLahir">Tanggal Lahir</label>
          <input type="date" id="tanggalLahir" name="tanggalLahir">

          <label for="sim">SIM</label>
          <app-input-file></app-input-file>

          <label for="ktp">KTP</label>
          <app-input-file></app-input-file>

          <label for="foto">Foto</label>
          <app-input-file></app-input-file>

          <label for="keteranganSehat">Keterangan Sehat & Buta Warna</label>
          <app-input-file></app-input-file>
          <input type="date" id="tanggalKeteranganSehat" name="tanggalKeteranganSehat">

          <label for="ketBebasNarkoba">Ket Bebas Narkoba</label>
          <app-input-file></app-input-file>
          <input type="date" id="tanggalKetBebasNarkoba" name="tanggalKetBebasNarkoba">
      </div>
  </div>
</form>

<div class="container-button">
  <app-white-button routerLink="/home">Back</app-white-button>
  <app-blue-button>Save</app-blue-button>
</div>
