<app-auth>
  <div class="form-container">
    <form #form="ngForm" (ngSubmit)="onSubmit()" class="form">
      <app-title pageTitle="Reset Password"></app-title>

      <div *ngIf="isSubmitted && getMessage()" [ngClass]="submitError ? 'error-message' : 'success-message'">
        <p class="error">{{ getMessage() }}</p>
      </div>

      <div class="input-container">
        <app-base-input
          class="input"
          [type]="isPassVisible ? 'text' : 'password'"
          inputMode="text"
          placeholder="Password baru"
          name="newPassword"
          [(ngModel)]="data.newPassword"
          #newPassword="ngModel"
          [isPassVisible]="isPassVisible"
          (togglePassClick)="passVisible()"
          required
          minlength="8"
          pattern="^(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,}$">
          <p>Gunakan minimal 8 karakter dengan kombinasi huruf besar, huruf kecil, dan angka</p>
        </app-base-input>

        <app-base-input
          class="input"
          [type]="isPassVisible ? 'text' : 'password'"
          inputMode="text"
          placeholder="Konfirmasi password baru"
          name="confirmNewPassword"
          [(ngModel)]="data.confirmNewPassword"
          #confirmNewPassword="ngModel"
          required
          minlength="8"
          pattern="^(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,}$">
        </app-base-input>
      </div>

      <div class="buttons">
        <app-white-button type="button" routerLink="/login">Kembali</app-white-button>
        <app-blue-button class="submit" type="submit">Simpan</app-blue-button>
      </div>
    </form>
  </div>
</app-auth>
