<app-auth>
  <div class="form-container">
    <form #form="ngForm" (ngSubmit)="onSubmit()" class="form">
      <app-title pageTitle="Reset Password"></app-title>

      <div
        *ngIf="parrentMessage"
        class="reset-password-message"
        [ngStyle]="{
          'background-color': !isSuccess ? '#ffeeba' : '',
          'color': !isSuccess ? 'red' : ''
        }"
      >
        <span>{{ parrentMessage }}</span>
      </div>

      <div class="input-container">
        <app-base-input
          label="Password baru"
          class="input"
          [type]="isPassVisible ? 'text' : 'password'"
          autocomplete="Password"
          inputMode="text"
          placeholder="Password baru"
          name="newPassword"
          [(ngModel)]="data.newPassword"
          #newPassword="ngModel"
          [isPassVisible]="isPassVisible"
          (togglePassClick)="passVisible()"
          (ngModelChange)="checkPasswordMatch()"
          [isRequired]="true"
          required
          minLength="8"
          minLengthErrorMessage="Password harus berisi minimal 8 karakter dengan kombinasi huruf besar, huruf kecil, dan angka"
          pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).+$"
          patternErrorMessage="Password harus berisi minimal 8 karakter dengan kombinasi huruf besar, huruf kecil, dan angka"
        >
        </app-base-input>

        <app-base-input
          class="input"
          label="Konfirmasi Password Baru"
          [type]="isPassVisible ? 'text' : 'password'"
          autocomplete="password"
          inputMode="text"
          placeholder="Konfirmasi password baru"
          name="confirmNewPassword"
          [(ngModel)]="data.confirmNewPassword"
          #confirmNewPassword="ngModel"
          (ngModelChange)="checkPasswordMatch()"
          [isRequired]="true"
          required
          minLength="8"
          minlength="8"
          minLengthErrorMessage="Password harus berisi minimal 8 karakter dengan kombinasi huruf besar, huruf kecil, dan angka"
          pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).+$"
          patternErrorMessage="Password harus berisi minimal 8 karakter dengan kombinasi huruf besar, huruf kecil, dan angka"
        >
        </app-base-input>
        <!-- Menambahkan pesan error untuk password mismatch -->
        <div class="error-message-container">
          <span *ngIf="passwordMismatch && form.valid" class="error-message">
            {{ message }}
          </span>
        </div>
      </div>

      <div class="buttons">
        <app-white-button type="button" routerLink="/">Kembali</app-white-button>
        <app-blue-button class="submit" type="submit" [disabled]="form.invalid || passwordMismatch">Simpan</app-blue-button>
      </div>
    </form>
  </div>
</app-auth>
