<app-title [pageTitle]="pageTitle"></app-title>

<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-container">
    <div class="left-column">
      <app-dropdown-input
        label="Kode Rating"
        [showSearchItem]="true"
        placeholder="--- Pilih capability ---"
        [isRequired]="true"
        [options]="capabilityOptions"
        [initialValue]="initialCapability"
        (selectionChange)="onCapabilitySelected($event)"
        required>
      </app-dropdown-input>

      <app-base-input
        label="Kode Training"
        type="text"
        inputMode="text"
        [value]="selectedCapabily.trainingCode"
        [disabled]="true"
        required>
      </app-base-input>

      <app-base-input
        label="Nama Training"
        type="text"
        inputMode="text"
        [value]="selectedCapabily.trainingName"
        [disabled]="true"
        required>
      </app-base-input>

      <app-base-input
        label="Tanggal Mulai"
        type="date"
        [isRequired]="true"
        [(ngModel)]="cot.startDate"
        name="startDate"
        #startDate="ngModel"
        required>
      </app-base-input>

      <app-base-input
        label="Tanggal Selesai"
        type="date"
        [isRequired]="true"
        [(ngModel)]="cot.endDate"
        name="endDate"
        #endDate="ngModel"
        required>
      </app-base-input>

      <app-base-input
        label="Lokasi Training"
        type="text"
        inputMode="text"
        [isRequired]="true"
        [(ngModel)]="cot.trainingLocation"
        name="trainingLocation"
        #trainingLocation="ngModel"
        required>
      </app-base-input>
    </div>

    <div class="right-column">
      <app-dropdown-input
        label="Status"
        placeholder="--- Status ---"
        [isRequired]="true"
        [options]="statusOptions"
        [initialValue]="cot.status"
        (selectionChange)="onStatusSelected($event)"
        required>
      </app-dropdown-input>

      <app-base-input
        label="Instruktur Teori Regulasi GSE"
        type="text"
        inputMode="text"
        [isRequired]="true"
        [(ngModel)]="cot.theoryInstructorRegGse"
        name="theoryInstructorRegGse"
        #theoryInstructorRegGse="ngModel"
        required>
      </app-base-input>

      <app-base-input
        label="Instruktur Teori Kompetensi"
        type="text"
        inputMode="text"
        [isRequired]="true"
        [(ngModel)]="cot.theoryInstructorCompetency"
        name="theoryInstructorCompetency"
        #theoryInstructorCompetency="ngModel"
        required>
      </app-base-input>

      <app-base-input
        label="Instruktur Praktek 1"
        type="text"
        inputMode="text"
        [isRequired]="true"
        [(ngModel)]="cot.practicalInstructor1"
        name="practicalInstructor1"
        #practicalInstructor1="ngModel"
        required>
      </app-base-input>

      <app-base-input
        label="Instruktur Praktek 2"
        type="text"
        inputMode="text"
        [isRequired]="true"
        [(ngModel)]="cot.practicalInstructor2"
        name="practicalInstructor2"
        #practicalInstructor2="ngModel"
        required>
      </app-base-input>
    </div>
  </div>

  <div class="container-button">
    <app-white-button type="button" routerLink="/cot" class="button">Kembali</app-white-button>
    <app-blue-button type="submit" [disabled]="form.invalid!" class="button">Simpan</app-blue-button>
  </div>
</form>
