.title-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.title {
  border-bottom: 4px solid #000;
  font-size: 25px;
}

form {
  background: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 90%;
  margin: auto;
}

.form-container {
  display: flex;
  justify-content: space-between;
}

.left-column, .right-column {
  width: 48%;
}

.right-column {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.container-button {
  display: flex;
  justify-content: center;
  gap: 4em;
  width: 90%;
  margin-top: 25px;
  margin-bottom: 15px;
  margin-left: 4em;
}

.button {
  width: 190px;
  height: 45px;
}
