<app-title [pageTitle]="pageTitle"></app-title>

<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-container">
    <div class="left-column">
      <app-base-input
        label="Kode COT"
        type="text"
        inputMode="text"
        [isRequired]="true"
        [(ngModel)]="cot.kodeCot"
        name="kodeRating"
        #kodeCot="ngModel"
        required
      >
      </app-base-input>

      <app-dropdown-input
        label="Kode Training"
        placeholder="--- Pilih capability ---"
        [isRequired]="true"
        [options]="capabilityOptions"
        [initialValue]="cot.capabilityId"
        (selectionChange)="onCapabilitySelected($event)"
        required>
      </app-dropdown-input>

      <app-base-input
        label="Kode Rating"
        type="text"
        inputMode="text"
        [value]="selectedCapabily.kodeRating"
        [disabled]="true"
        required>
      </app-base-input>

      <app-base-input
        label="Nama Training"
        type="text"
        inputMode="text"
        [value]="selectedCapabily.namaTraining"
        [disabled]="true"
        required>
      </app-base-input>

      <app-base-input
        label="Tanggal Mulai"
        type="date"
        [isRequired]="true"
        [(ngModel)]="cot.tanggalMulai"
        name="tanggalMulai"
        #tanggalMulai="ngModel"
        required>
      </app-base-input>

      <app-base-input
        label="Tanggal Selesai"
        type="date"
        [isRequired]="true"
        [(ngModel)]="cot.tanggalSelesai"
        name="tanggalSelesai"
        #tanggalSelesai="ngModel"
        required>
      </app-base-input>
    </div>

    <div class="right-column">
      <app-base-input
        label="Lokasi Training"
        type="text"
        inputMode="text"
        [isRequired]="true"
        [(ngModel)]="cot.lokasiTraining"
        name="lokasiTraining"
        #lokasiTraining="ngModel"
        required>
      </app-base-input>

      <app-base-input
        label="Instruktur Teori Regulasi GSE"
        type="text"
        inputMode="text"
        [isRequired]="true"
        [(ngModel)]="cot.instrukturTeoriRegulasiGse"
        name="instrukturTeoriRegulasiGse"
        #instrukturTeoriRegulasiGse="ngModel"
        required>
      </app-base-input>

      <app-base-input
        label="Instruktur Teori Kompetensi"
        type="text"
        inputMode="text"
        [isRequired]="true"
        [(ngModel)]="cot.instrukturTeoriKompetensi"
        name="instrukturTeoriKompetensi"
        #instrukturTeoriKompetensi="ngModel"
        required>
      </app-base-input>

      <app-base-input
        label="Instruktur Praktek 1"
        type="text"
        inputMode="text"
        [isRequired]="true"
        [(ngModel)]="cot.instrukturPraktek1"
        name="instrukturPraktek1"
        #instrukturPraktek1="ngModel"
        required>
      </app-base-input>

      <app-base-input
        label="Instruktur Praktek 2"
        type="text"
        inputMode="text"
        [isRequired]="true"
        [(ngModel)]="cot.instrukturPraktek2"
        name="instrukturPraktek2"
        #instrukturPraktek2="ngModel"
        required>
      </app-base-input>
    </div>
  </div>

  <div class="container-button">
    <app-white-button type="button" routerLink="/cot" class="button">Kembali</app-white-button>
    <app-blue-button type="submit" [disabled]="form.invalid!" class="button">Simpan</app-blue-button>
  </div>
</form>
