<app-display-files
  [pageTitle]="pageTitle"
  [routerLink]="navigationLink"
>
  @if(isLoading) {
    <app-loader></app-loader>
  } @else {
    @if(safeUrl) {
        @if(fileType === 'application/pdf') {
          <embed
            [src]="safeUrl"
            (load)="onImageLoad()"
            (error)="onImageError()"
            loading="lazy"
            type="application/pdf"
            class="pdf"
          >
          <a
            [href]="safeUrl"
            [download]="pageTitle + getDownloadExtension()"
          >
            Download
          </a>
        } @else {
          <img
            [src]="safeUrl"
            (load)="onImageLoad()"
            (error)="onImageError()"
            loading="lazy"
            class="image"
          >
          <a
            [href]="safeUrl"
            [download]="pageTitle + getDownloadExtension()"
          >
            Download
          </a>
        }
      } @else {
        <p>File tidak ditemukan!!</p>
      }
    }
</app-display-files>
