.container {
  display: flex;
  flex-direction: column;
  gap: 3em;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.section {
  display: flex;
  justify-content: center;
  gap: 40%;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo {
  max-width: 148px;
  max-height: 100%;
}

.name {
  margin-top: 10px;
}

.qr-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.file {
  max-width: 100%;
  max-height: 100%;
}

.qr-code {
  max-width: 180px;
  max-height: 180px;
}

.download {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

.data-section {
  display: flex;
  gap: 1em;
  padding-right: 3em;
  padding-left: 1em;
}

.settings-nav {
  display: flex;
  flex-direction: column;
  justify-content: top;
  font-size: 20px;
  width: 12%;
}

.settings-nav div {
  height: 50px;
}

.menu-setting-item {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease, border-left 0.2s ease;
}

.menu-setting-item i {
  margin-left: 1em;
}

.menu-setting-item:hover {
  background-color: #d8dadb;
}

.menu-setting-item.active {
  border-left: 5px solid #02507E;
}

.card {
  height: 100%;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.account-form {
  display: flex;
  padding: 20px;
  gap: 5%;
}

.form-content {
  margin: 0;
  width: 100%;
  height: auth;
  padding-right: 10%;
}

.certificate-table {
  width: 97%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 4em;
  width: 100%;
}

.button {
  width: 190px;
  height: 45px;
}

.download a {
  color: #000;
}

.download a:hover {
  cursor: pointer;
  color: #266E99;
}

.section span:hover {
  cursor: pointer;
  color: #266E99;
}
