<div *appRoleBasedAccess="['Super Admin', 'lcu']" class="create-container">
  <img
  class="brand-logo"
  src="../assets/image/logo-GMF.png"
  alt="logo"
  aria-hidden="true"
  >

  <div class="create-description">
    <h1>Enter Your</h1>
    <h1>Account</h1>
    <h1>Information</h1>
    <h1>to Proceed</h1>
  </div>

  <div class="form-container">
    <form class="create-form" (keydown.enter)="onEnterKey($event)">
      <app-title>Create Account</app-title>

      <app-input-text
        class="input"
        type="text"
        inputMode="tel"
        placeholder="No Pegawai"
        name="no_pegawai"
        [(ngModel)]="createUser.no_pegawai"
      ></app-input-text>

      <!-- Input Role dan NIK -->
      <app-input-role-nik
        class="input"
        (roleIdChange)="onRoleIdChange($event)"
        (nikChange)="onNikChange($event)"
        [(ngModel)]="createUser.nik">
      </app-input-role-nik>

      <app-input-text
        class="input"
        type="text"
        inputMode="text"
        placeholder="Name"
        name="name"
        [(ngModel)]="createUser.name"
      ></app-input-text>

      <app-input-text
        class="input"
        type="email"
        inputMode="email"
        placeholder="Email"
        name="email"
        [(ngModel)]="createUser.email"
      ></app-input-text>

      <app-input-text
        class="input"
        type="password"
        inputMode="text"
        placeholder="Password"
        name="password"
        [(ngModel)]="createUser.password"
      ></app-input-text>

      <app-input-text
        class="input"
        type="text"
        inputMode="text"
        placeholder="Dinas"
        name="dinas"
        [(ngModel)]="createUser.dinas"
      ></app-input-text>

      <div class="buttons">
        <app-white-button type="button" routerLink="/users">Cancel</app-white-button>
        <app-blue-button type="submit" (click)="onCreate()">Save</app-blue-button>
      </div>
    </form>
  </div>
</div>
