<div *appRoleBasedAccess="['Super Admin', 'lcu']" class="create-container">
  <img
  class="brand-logo"
  src="../assets/image/logo-GMF.png"
  alt="logo"
  aria-hidden="true"
  >

  <div class="create-description">
    <h1>Enter Your</h1>
    <h1>Account</h1>
    <h1>Information</h1>
    <h1>to Proceed</h1>
  </div>

  <div class="form-container">
    <form class="create-form" action="/home">
      <h1 class="create-title">Create User</h1>
      <app-input-text type="text" inputMode="tel" placeholder="No Pegawai" name="no_pegawai"></app-input-text>
      <input type="role" id="role" name="role" placeholder="Role">
      <input type="nama" id="nama" name="nama" placeholder="Nama">
      <input type="username" id="username" name="username" placeholder="Username">
      <input type="password" name="password" id="password" placeholder="Password">
      <div class="buttons">
        <app-white-button routerLink="/users">Cancel</app-white-button>
        <app-blue-button routerLink="/users">Save</app-blue-button>
      </div>
    </form>
  </div>
</div>
