<app-auth>
  <div class="form-container">
    <form #form="ngForm" (ngSubmit)="onSubmit()" class="form">
      <app-title pageTitle="Forgot password"></app-title>

      <div *ngIf="isSubmitted && getMessage()" [ngClass]="submitError ? 'error-message' : 'success-message'">
        <span class="error">{{ getMessage() }}</span>
      </div>

      <div class="input-container" ngClass="email">
        <app-base-input
          class="input"
          label="Email"
          type="email"
          autocomplete="email"
          inputMode="email"
          placeholder="Email"
          name="email"
          [(ngModel)]="data.email"
          #email="ngModel"
          [isRequired]="true"
          [email]="true"
          required
        >
        </app-base-input>
      </div>

      <div class="buttons">
        <app-white-button type="button" routerLink="/">Kembali</app-white-button>
        <app-blue-button class="submit" type="submit" [disabled]="form.invalid!">Kirim</app-blue-button>
      </div>
    </form>
  </div>
</app-auth>
