<div>
  <span *ngIf="addLink">
    <i class="fa-solid fa-plus" [routerLink]="[addLink]"></i>
  </span>
  <span *ngIf="printLink">
    <i class="fa-solid fa-print" [routerLink]="[printLink]"></i>
  </span>
  <span *ngIf="editLink">
    <i class="fa-solid fa-pen-to-square" [routerLink]="[editLink]"></i>
  </span>
  <span *ngIf="delete">
    <i class="fa-solid fa-trash-can action-icon" (click)="delete()"></i>
  </span>
  <span *ngIf="detailLink">
    <i class="fa-solid fa-eye action-icon" [routerLink]="[detailLink]"></i>
  </span>
</div>
