<main>
  <div class="section">
    <div class="profile-section">
      <img src="data:image/png;base64,{{ foto }}" alt="Profile Picture">
      <h2>Heri Susanto</h2>
    </div>
    <div class="qr-section">
      <div class="print">
        <img src="data:image/png;base64,{{ qr_code }}" alt="QR Code">
      </div>
      <div class="print">
        <p><a routerLink="/participant/id-card">Cetak Kartu Peserta</a></p>
        <p><a href="#">Download</a></p>
      </div>
    </div>
  </div>

  <app-detailed-view [leftTableData]="leftTableData" [rightTableData]="rightTableData"></app-detailed-view>

  <div class="container">
    <app-table [columns]="columns" [data]="data"></app-table>
  </div>

  <div class="container-button">
    <app-blue-button routerLink="/home">Back</app-blue-button>
  </div>

</main>
