select, input {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  border: 3px solid #ccc;
  height: 40px;
  font-weight: bold;
  padding-left: 8px;
  font-size: 15px;
  box-sizing: border-box;
}

option {
  font-weight: bold;
}

label {
  display: flex;
  margin-top: 15px;
  font-weight: bold;
  font-size: 20px;
}

p {
  color: red;
}
