<main *appRoleBasedAccess="['Super Admin', 'supervisor', 'lcu']">
  <div class="title-container">
    <h1 class="title">Edit Participant Data</h1>
  </div>

  <form>
    <div class="form-container">
      <div class="left-column">
        <app-input-text
          [(ngModel)]="currentParticipant.no_pegawai"
          (ngModelChange)="updateParticipant.no_pegawai= $event"
          label="No Pegawai"
          name="noPegawai"
          type="text"
          inputMode="numerik">
        </app-input-text>

        <app-input-text
          [(ngModel)]="currentParticipant.nama"
          (ngModelChange)="updateParticipant.nama= $event"
          label="Nama"
          name="nama"
          type="text"
          inputMode="text">
        </app-input-text>

        <app-input-text
          [(ngModel)]="currentParticipant.nik"
          (ngModelChange)="updateParticipant.nik= $event"
          label="NIK"
          name="nik"
          type="text"
          inputMode="text">
        </app-input-text>

        <app-input-text
          [(ngModel)]="currentParticipant.dinas"
          (ngModelChange)="updateParticipant.dinas= $event"
          label="Dinas"
          name="dinas"
          type="text"
          inputMode="text"
        ></app-input-text>

        <app-input-text
          [(ngModel)]="currentParticipant.bidang"
          (ngModelChange)="updateParticipant.bidang= $event"
          label="Bidang"
          name="bidang"
          type="text"
          inputMode="text">
        </app-input-text>

        <app-input-company></app-input-company>

        <app-input-text
          [(ngModel)]="currentParticipant.email"
          (ngModelChange)="updateParticipant.email= $event"
          label="Email"
          name="email"
          type="email"
          inputMode="text">
        </app-input-text>

        <app-input-text
          [(ngModel)]="currentParticipant.no_telp"
          (ngModelChange)="updateParticipant.no_telp= $event"
          label="Nomor Telpon"
          name="no_telp"
          type="tel"
          inputMode="tel">
        </app-input-text>

        <app-input-text
          [(ngModel)]="currentParticipant.negara"
          (ngModelChange)="updateParticipant.negara= $event"
          label="Kewarganegaraan"
          name="negara"
          type="text"
          inputMode="text">
        </app-input-text>
      </div>

      <div class="right-column">
        <app-input-text
          [(ngModel)]="currentParticipant.tempat_lahir"
          (ngModelChange)="updateParticipant.tempat_lahir= $event"
          label="Tempat Lahir"
          name="tempat_lahir"
          type="text"
          inputMode="text">
        </app-input-text>

        <app-input-date
          [(ngModel)]="currentParticipant.tanggal_lahir"
          (ngModelChange)="onDateChange($event)"
          name="tanggal_lahir">
          Tanggal Lahir
        </app-input-date>

        <app-input-file
          [(ngModel)]="currentParticipant.sim_a"
          idInput="sim_a_input"
          (ngModelChange)="onFileChange('sim_a', $event)"
          name="sim_a">
          SIM A
        </app-input-file>

        <app-input-file
          [(ngModel)]="currentParticipant.sim_b"
          idInput="sim_b_input"
          (ngModelChange)="onFileChange('sim_b', $event)"
          name="sim_b">
          SIM B
        </app-input-file>

        <app-input-file
          [(ngModel)]="currentParticipant.ktp"
          idInput="ktp_input"
          (ngModelChange)="onFileChange('ktp', $event)"
          name="ktp">
          KTP
        </app-input-file>

        <app-input-file
          [(ngModel)]="currentParticipant.foto"
          idInput="foto_input"
          (ngModelChange)="onFileChange('foto', $event)"
          name="foto">
          Foto
        </app-input-file>

        <app-input-file
          [(ngModel)]="currentParticipant.surat_sehat_buta_warna"
          idInput="surat_sehat_input"
          (ngModelChange)="onFileChange('surat_sehat_buta_warna', $event)"
          name="surat_sehat_buta_warna">
          Ket Sehat & Buta Warna
        </app-input-file>

        <app-input-date
          [(ngModel)]="currentParticipant.exp_surat_sehat"
          (ngModelChange)="onDateChange($event)"
          name="exp_surat_sehat">
        </app-input-date>

        <app-input-file
          [(ngModel)]="currentParticipant.surat_bebas_narkoba"
          idInput="surat_bebas_narkoba_input"
          (ngModelChange)="onFileChange('surat_bebas_narkoba', $event)"
          name="surat_bebas_narkoba">
          Ket Bebas Narkoba
        </app-input-file>

        <app-input-date
          [(ngModel)]="currentParticipant.exp_bebas_narkoba"
          (ngModelChange)="onDateChange($event)"
          name="exp_bebas_narkoba">
        </app-input-date>
      </div>
    </div>
  </form>

  <div class="container-button">
    <app-white-button routerLink="/home">Back</app-white-button>
    <app-blue-button (click)="onUpdate()">Save</app-blue-button>
  </div>

  <app-alert *ngIf="showAlert" [message]="alertMessage" (close)="closeAlert()"></app-alert>
</main>
