/* user-form.component.css */
.form-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding: 0 2em;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-top: 25px;
}

.button {
  margin-right: 20px;
  width: 150px;
  height: 40px;
}

.button {
  margin-left: 20px;
  width: 150px;
  height: 40px;
}

.input {
  width: 100%;
}

.isRegistered {
  margin-top: 25px;
  font-weight: bold;
}

.isRegistered a {
  color: #02507E;
}

.error-message-container {
  width: 100%;
}

.error-message {
  color: red;
  margin-left: 15px;
  margin-top: 3px;
  font-size: 14px;
}

.success-message {
  background-color: lightgreen;
  padding: 2px;
  margin-top: 3px;
  color: #000;
}

.register-message {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
  padding: 2px;
  position: relative;
  top: 1em;
  color: #000;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .form {
    padding: 0 2em;
  }

  app-white-button, app-blue-button {
    margin: 0 10px;
    width: 120px;
    height: 35px;
  }

  .buttons {
    flex-direction: column;
    gap: 1em;
  }

  .input {
    width: 100%;
  }
}
