<app-navbar></app-navbar>

<div class="title-container">
  <h1 class="title">View Participant Data</h1>
</div>

<div class="search-container">
  <form action="">
    <input type="text" placeholder="Search Participant Data">
  </form>
</div>

<div class="container">
  <app-table [columns]="columns" [data]="data"></app-table>
</div>

<div class="nav">
  <div class="nav-pagination">
    &lt; Priview ..... 1 2 3 ..... Next &gt;
  </div>
</div>

<div class="container-button">
  <app-white-button routerLink="/home">Back</app-white-button>
  <app-blue-button routerLink="/add-participant-data">Add</app-blue-button>
</div>
