table {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #dddddd;
}

th {
  background-color:#126A9E;
  color: #ffffff;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
