<table>
  <thead>
    <tr>
      <th *ngFor="let column of columns">{{ column.header }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td *ngFor="let column of columns">
        <ng-container *ngIf="column.field !== 'action'; else actionTemplate">
          {{ item[column.field] }}
        </ng-container>
        <ng-template #actionTemplate>
          <app-icon-action [editLink]="item.editLink" [delete]="item.deleteMethod" [detailLink]="item.detailLink"></app-icon-action>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
