<!-- reusable-table.component.html -->
<table>
  <thead>
    <tr>
      <th *ngFor="let column of columns">{{ column.header }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data">
      <td *ngFor="let column of columns">
        <ng-container *ngIf="column.field === 'kurikulumSilabus'; else dataCell">
          <a routerLink="{{ row[column.field] }}">lihat</a>
        </ng-container>
        <ng-template #dataCell>{{ row[column.field] }}</ng-template>
      </td>
    </tr>
  </tbody>
</table>
