.view-all {
  width: 250px;
  height: 45px;
  font-size: 20px;
  color: #02507E;
  border: 1px solid #e0e0e0;
  background-color: #e0e0e0;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding-left: 70px;
}

.view-all i {
  margin-bottom: 7px;
}

.view-all:hover {
  cursor: pointer;
  background-color: #d8dadb;
}

i {
  font-size: 30px;
  position: absolute;
  margin-left: -45px;
  margin-top: 7px;
  cursor: pointer;
}

button:active i {
  transition: transform 0.3s ease, color 0.3s ease;
  transform: rotate(180deg);
}
