<main>
  <div class="title-container">
    <h1 class="title">Capability</h1>
  </div>

  <form>
    <div class="form-container">
      <div class="left-column">
        <app-base-input type="tel" inputMode="tel">No Pegawai</app-base-input>
        <app-base-input type="text" inputMode="text">Role</app-base-input>
        <app-base-input type="text" inputMode="text">Nama</app-base-input>
      </div>
      <div class="right-column">
        <app-file-input>Tanda Tangan</app-file-input>
      </div>
    </div>
  </form>

  <div class="container-button">
    <app-white-button routerLink="/home" class="button">Back</app-white-button>
    <app-blue-button routerLink="/sign" class="button">Save</app-blue-button>
  </div>
</main>
