<label>{{ label }}<span *ngIf="isRequired" class="required-label">*</span></label>

<div [class.container]="name === 'password'">
  <div class="input-group">
    <input
      [ngStyle]="{ 'outline': readOnly || disabled ? 'none' : '#000'  }"
      [type]="type"
      [autocomplete]="autocomplete"
      [inputMode]="inputMode"
      [placeholder]="placeholder"
      [name]="name"
      [(ngModel)]="value"
      (input)="onValueChange()"
      [disabled]="disabled"
      [ngClass]="{'error-input': (inputControl.invalid && inputControl.touched)}"
      (keydown)="onKeyDown($event)"
      [readOnly]="readOnly"
      [required]="isRequired"
      [minlength]="minLength"
      [email]="email"
      [pattern]="pattern"
      #inputControl="ngModel"
    />

    <app-toggle-password-visibility
      class="password-visibility-toggle"
      *ngIf="name.toLowerCase().includes('password')"
      [isPassVisible]="isPassVisible"
      (togglePassClick)="passVisible()">
    </app-toggle-password-visibility>
  </div>
    <!-- [ngStyle]="{ 'bottom': inputControl.invalid && inputControl.touched ? '3.2em' : '2.2em' }" -->

  <ng-content></ng-content>

  <div>
    <!-- Tampilkan hanya satu pesan error jika input tidak valid -->
    <span *ngIf="customErrorMessage" class="alert-error-custom"> <i class='fa-solid fa-circle-exclamation'></i> {{ customErrorMessage }} </span>
    <span *ngIf="!customErrorMessage && inputControl.invalid && inputControl.touched && inputControl.errors" class="alert-error-custom">
      <i class='fa-solid fa-circle-exclamation'></i>
      <!-- Tampilkan pesan error yang relevan -->
      <ng-container>
        <span *ngIf="inputControl.errors['required']">Wajib diisi</span>
        <span *ngIf="inputControl.errors['minlength']">{{ minLengthErrorMessage }}</span>
        <span *ngIf="inputControl.errors['pattern']">{{ patternErrorMessage }}</span>
        <span *ngIf="inputControl.errors['email']">Alamat email tidak valid</span>
      </ng-container>
    </span>
    <span *ngIf="!customErrorMessage && !(inputControl.invalid && inputControl.touched && inputControl.errors)">{{ helperMessage }}</span>
  </div>
</div>
