<label>{{ label }}<span *ngIf="isRequired" class="required-label">*</span></label>

<div [class.container]="name === 'password'">
  <div class="input-group">
    <input
      [ngStyle]="{ 'outline': readOnly || disabled ? 'none' : '#000'  }"
      [type]="type"
      [autocomplete]="autocomplete"
      [inputMode]="inputMode"
      [placeholder]="placeholder"
      [name]="name"
      [(ngModel)]="value"
      (input)="onValueChange()"
      [disabled]="disabled"
      [ngClass]="{'error-input': (inputControl.invalid && inputControl.touched)}"
      (keydown)="onKeyDown($event)"
      [readOnly]="readOnly"
      [required]="isRequired"
      [minlength]="minLength"
      [email]="email"
      [pattern]="pattern"
      #inputControl="ngModel"
    />

    <app-toggle-password-visibility
      class="password-visibility-toggle"
      *ngIf="name.toLowerCase().includes('password')"
      [isPassVisible]="isPassVisible"
      (togglePassClick)="passVisible()">
    </app-toggle-password-visibility>
  </div>
    <!-- [ngStyle]="{ 'bottom': inputControl.invalid && inputControl.touched ? '3.2em' : '2.2em' }" -->

  <ng-content></ng-content>

  <div>
    <!-- Tampilkan hanya satu pesan error jika input tidak valid -->
    @if (customErrorMessage) {
      <span class="error-message">{{ customErrorMessage }}</span>
    } @else if (inputControl.invalid && inputControl.touched) {
      <span class="error-message">
        <!-- Tampilkan pesan error yang relevan -->
        @if (inputControl.errors) {
          <ng-container>
            @if (inputControl.errors['required']) {
              <span>Wajib diisi</span>
            } @else if (inputControl.errors['minlength']) {
              <span>
                {{ minLengthErrorMessage }}
              </span>
            } @else if (inputControl.errors['pattern']) {
              <span>
                {{ patternErrorMessage }}
              </span>
            } @else if (inputControl.errors['email']) {
              <span>Alamat email tidak valid</span>
            }
          </ng-container>
        }
      </span>
    } @else {
      <!-- Tampilkan pesan default jika tidak ada error atau belum disentuh -->
      <span>{{ helperMessage }}</span>
    }
  </div>
</div>
