<label>{{ label }}<p *ngIf="isRequired">*</p></label>

<div [ngClass]="name === 'password' ? 'container' : ''">
  <input
    [type]="type"
    [inputMode]="inputMode"
    [placeholder]="placeholder"
    [name]="name"
    [(ngModel)]="value"
    (input)="onValueChange()"
    [disabled]="disabled"
    [ngClass]="{'error-input': errorInput}"
    (keydown)="onKeyDown($event)"
  />

  <div>
    <ng-content></ng-content>
  </div>

  <app-toggle-password-visibility
    *ngIf="name === 'password' || name === 'newPassword'"
    [isPassVisible]="isPassVisible"
    (togglePassClick)="passVisible()"
  ></app-toggle-password-visibility>
</div>
