<!--
<app-display-files
  [files]="participantFiles"
  [isLoading]="isLoading"
  [navigationLinks]="navigationLink"
  (downloadChange)="downloadFile()"
>
  @if(safeUrl) {
    @if(fileType === 'application/pdf') {
      <embed
        [src]="safeUrl"
        (load)="onImageLoad()"
        (error)="onImageError()"
        loading="lazy"
        type="application/pdf"
        class="pdf"
      >
    } @else {
      <img
        [src]="safeUrl"
        (load)="onImageLoad()"
        (error)="onImageError()"
        loading="lazy"
        class="image"
      >
    }
  } @else {
    <div class="no-files">
      <p>File tidak ditemukan!!</p>
    </div>
  }
</app-display-files>
-->
