<main>
  <div class="title-container">
    <h1 class="title">View Participant Data</h1>
  </div>

  <div class="search-container">
    <form action="">
      <input type="text" placeholder="Search Participant Data">
    </form>
  </div>

  <div class="container">
    <app-table [columns]="columns" [data]="paginatedData"></app-table>
  </div>

  <div class="nav">
    <div class="nav-pagination">
      <p (click)="previousPage()">&lt; Preview</p>
      <p>{{ currentPage }} / {{ totalPages }}</p>
      <p (click)="nextPage()">Next &gt;</p>
    </div>
  </div>

  <div class="container-button">
    <app-white-button routerLink="/home">Back</app-white-button>
    <app-blue-button routerLink="/participant/add">Add</app-blue-button>
  </div>

</main>
