.display-container {
  width: 95%;
  height: 100vh;
  padding: 5px;
  margin: 0 35px 35px 35px;
  border-radius: 25px;
  border: 4px #02507E solid;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
  overflow: hidden;
}

ng-content {
  position: relative;
}

.icon-container {
  position: relative;
  top: 70px;
  left: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  max-width: 50px;
}

i {
  padding: 8px 10px 8px 10px;;
  font-size: 25px;
  border: 3px solid #02507E;
  color: #02507E;
  border-radius: 50%;
}

i:hover {
  cursor: pointer;
  opacity: 80%;
}

.button {
  width: 190px;
  height: 45px;
}
