.display-container {
  width: 95%;
  height: 100vh;
  margin: 30px;
  padding: 0;
  border-radius: 25px;
  border: 4px #02507E solid;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
  overflow: hidden;
}

.button-container {
  position: relative;
  top: 700px;
  left: 60px;
  display: flex;
  justify-content: start;
}

.button {
  width: 190px;
  height: 45px;
}
