.chart-container {
  width: 100%;
  height: 25rem;
}

.canvas-container {
  width: 100%;
  height: 100%;
}

canvas {
  background: linear-gradient(to bottom, #3E799B, #3E799B00);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 100%;
}

.legend-hover-pointer {
  cursor: pointer;
}


h1 {
  position: absolute;
}
