<div *appRoleBasedAccess="['Super Admin', 'lcu']" class="edit-container">
  <img
  class="brand-logo"
  src="../assets/image/logo-GMF.png"
  alt="logo"
  aria-hidden="true"
  >

  <div class="edit-description">
    <h1>Enter Your</h1>
    <h1>Account</h1>
    <h1>Information</h1>
    <h1>to Proceed</h1>
  </div>

  <div class="form-container">
    <form class="edit-form" (keydown.enter)="onEnterKey($event)">
      <app-title>Edit Account</app-title>

      <app-input-text
        class="input"
        type="text"
        inputMode="tel"
        placeholder="No Pegawai"
        name="no_pegawai"
        [(ngModel)]="currentUser.no_pegawai"
        (ngModelChange)="updateUser.no_pegawai= $event"
      ></app-input-text>

      <!-- Input Role dan NIK -->
      <app-input-role-nik
        class="input"
        (roleIdChange)="onRoleIdChange($event)"
        (nikChange)="onNikChange($event)"
        [(ngModel)]="currentUser.nik"
        (ngModelChange)="updateUser.nik= $event">
      </app-input-role-nik>

      <app-input-text
        class="input"
        type="text"
        inputMode="text"
        placeholder="Name"
        name="name"
        [(ngModel)]="currentUser.name"
        (ngModelChange)="updateUser.name= $event"
      ></app-input-text>

      <app-input-text
        class="input"
        type="email"
        inputMode="email"
        placeholder="Email"
        name="email"
        [(ngModel)]="currentUser.email"
        (ngModelChange)="updateUser.email= $event"
      ></app-input-text>

      <app-input-text
        class="input"
        type="password"
        inputMode="text"
        placeholder="Password"
        name="password"
        [(ngModel)]="currentUser.password"
        (ngModelChange)="updateUser.password= $event"
      ></app-input-text>

      <app-input-text
        class="input"
        type="text"
        inputMode="text"
        placeholder="Dinas"
        name="dinas"
        [(ngModel)]="currentUser.dinas"
        (ngModelChange)="updateUser.dinas= $event"
      ></app-input-text>

      <div class="buttons">
        <app-white-button type="button" routerLink="/users">Cancel</app-white-button>
        <app-blue-button type="submit" (click)="onUpdate()">Save</app-blue-button>
      </div>
    </form>
  </div>
</div>
