<app-navbar></app-navbar>

<div class="participant-card">
  <div class="profile-section">
    <img src="profile-placeholder.png" alt="Profile Picture">
    <h2>Heri Susanto</h2>
  </div>
  <div class="info-section">
    <table class="user-table" id="left-table">
      <tr>
        <td>User ID</td>
        <td><a href="#">160088</a></td>
      </tr>
      <tr>
        <td>Nama Peserta</td>
        <td><a href="#">Heri Susanto</a></td>
      </tr>
      <tr>
        <td>Dinas</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Bidang</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Perusahaan</td>
        <td><a href="#">Kopkar</a></td>
      </tr>
      <tr>
        <td>Email</td>
        <td>-</td>
      </tr>
      <tr>
        <td>No Telp</td>
        <td>-</td>
      </tr>
    </table>
    <table class="user-table" id="right-table">
      <tr>
        <td>Tempat Lahir</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Tanggal Lahir</td>
        <td>-</td>
      </tr>
      <tr>
        <td>SIM</td>
        <td>-</td>
      </tr>
      <tr>
        <td>KTP</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Ket Sehat & Buta Warna</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Ket Bebas Narkoba</td>
        <td>-</td>
      </tr>
      <tr>
        <td>GMF/Non GMF</td>
        <td><a href="#">Non Gmf</a></td>
      </tr>
    </table>
  </div>
  <div class="qr-section">
    <img src="qr-placeholder.png" alt="QR Code">
    <p><a href="#">Cetak Kartu Peserta</a></p>
    <p><a href="#">Download</a></p>
  </div>
</div>

<div class="container">
  <table class="training-table">
    <thead>
      <tr>
        <th>Kode Training</th>
        <th>Exp</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Folklift</td>
        <td>10 Februari 2026</td>
      </tr>
      <tr>
        <td>Regulasi GSE</td>
        <td>10 Februari 2026</td>
      </tr>
      <tr>
        <td>Baggage Towing Tractor</td>
        <td>10 Februari 2026</td>
      </tr>
      <tr>
        <td>Air Conditioning System Refreshment</td>
        <td>10 Februari 2026</td>
    </tbody>
  </table>
</div>

<div class="container-button">
  <button routerLink="/home" id="back-button">Back</button>
</div>
