.participant-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  max-width: 800px;
  margin: 20px auto;
}

.profile-section {
  text-align: center;
  margin-right: 20px;
}

.profile-section img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.info-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.user-table {
  border-collapse: collapse;
  width: 45%;
}

.user-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.user-table a {
  color: #00f;
  text-decoration: none;
}

.user-table a:hover {
  text-decoration: underline;
}

.qr-section {
  text-align: center;
  margin-left: 20px;
}

.qr-section img {
  width: 100px;
  height: 100px;
}

.container {
  width: 95%;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 25px;
}

.training-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.training-table th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
  text-align: center;
  vertical-align: middle;
}

.training-table th {
  background-color:#126A9E;
  color: #ffffff;
}

.training-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.container-button {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 4em;
}

#back-button {
  width: 150px;
  height: 40px;
  font-size: 25px;
  color: #ffffff;
  border: none;
  background-color: #02507E;
  border-radius: 50px;
  font-family: 'Petrona', sans-serif;
}

#back-button:hover {
  cursor: pointer;
}

