<main>
  <app-title [pageTitle]="pageTitle"></app-title>

  <form #form="ngForm" (submit)="onSubmit()">
    <div class="form-container">
      <div class="input-column">
        <app-base-input
          label="Kode Rating"
          [isRequired]="true"
          type="text"
          inputMode="text"
          name="kodeRating"
          [(ngModel)]="capability.kodeRating"
          #kodeRating="ngModel"
          required
        >
        </app-base-input>

        <app-base-input
          label="Kode Training"
          [isRequired]="true"
          type="text"
          inputMode="text"
          name="kodeTraining"
          [(ngModel)]="capability.kodeTraining"
          #kodeTraining="ngModel"
          required
        >
        </app-base-input>

        <app-base-input
          label="Nama Training"
          [isRequired]="true"
          type="text"
          inputMode="text"
          name="namaTraining"
          [(ngModel)]="capability.namaTraining"
          #namaTraining="ngModel"
          required
        >
        </app-base-input>
      </div>
    </div>

    <div class="container-button">
      <app-white-button type="button" routerLink="/capability" class="button">Kembali</app-white-button>
      <app-blue-button type="submit" class="button" [disabled]="form.invalid!">Simpan</app-blue-button>
    </div>
  </form>

</main>
