<main>
  <app-title [pageTitle]="pageTitle"></app-title>

  <form #form="ngForm" (submit)="onSubmit()">
    <div class="form-container">
      <div class="input-column">
        <app-base-input
          label="Kode Rating"
          [isRequired]="isCreate"
          [errorInput]="kodeRating.invalid! && (kodeRating.dirty || kodeRating.touched)!"
          type="text"
          inputMode="text"
          name="kodeRating"
          [(ngModel)]="capability.kodeRating"
          #kodeRating="ngModel"
          required
        >
          <p *ngIf="kodeRating.errors?.['required'] && kodeRating.dirty">Wajib diisi</p>
        </app-base-input>

        <app-base-input
          label="Kode Training"
          [isRequired]="isCreate"
          [errorInput]="kodeTraining.invalid! && (kodeTraining.dirty || kodeTraining.touched)!"
          type="text"
          inputMode="text"
          name="kodeTraining"
          [(ngModel)]="capability.kodeTraining"
          #kodeTraining="ngModel"
          required
        >
          <p *ngIf="kodeTraining.errors?.['required'] && kodeTraining.dirty">Wajib diisi</p>
        </app-base-input>

        <app-base-input
          label="Nama Training"
          [isRequired]="isCreate"
          [errorInput]="namaTraining.invalid! && (namaTraining.dirty || namaTraining.touched)!"
          type="text"
          inputMode="text"
          name="namaTraining"
          [(ngModel)]="capability.namaTraining"
          #namaTraining="ngModel"
          required
        >
          <p *ngIf="namaTraining.errors?.['required'] && namaTraining.dirty">Wajib diisi</p>
        </app-base-input>
      </div>
    </div>

    <div class="container-button">
      <app-white-button type="button" routerLink="/capability" class="button">Kembali</app-white-button>
      <app-blue-button type="submit" class="button" [disabled]="form.invalid!">Simpan</app-blue-button>
    </div>
  </form>

</main>
