<app-login-register>
  <form class="login-form" action="/home">
    <h1 class="login-title">Login Account</h1>
    <i class="fa-solid fa-user user-icon"></i>
    <input type="username" id="username" name="username" placeholder="No Pegawai or Email">
    <i class="fa-solid fa-lock pass-icon"></i>
    <i class="fa-regular fa-eye"></i>
    <i
      (click)="passVisible()"
      [ngClass]="isPassVisible ? 'fa-solid fa-slash' : 'fa-regular fa-eye'">
    </i>
    <input [type]="isPassVisible ? 'password' : 'text'" name="password" id="password" placeholder="Password">
    <app-blue-button>Login</app-blue-button>
  </form>
</app-login-register>
