<app-login-register>
  <div *ngIf="loginError" class="error-message">
    <p>{{ message }}</p>
  </div>
  <form class="login-form">
    <app-title>Login Account</app-title>
    <i class="fa-solid fa-user user-icon"></i>
    <input [(ngModel)]="loginRequest.identifier" type="username" id="username" name="username" placeholder="No Pegawai or Email">
    <i class="fa-solid fa-lock pass-icon"></i>
    <i class="fa-regular fa-eye"></i>
    <i
      (click)="passVisible()"
      [ngClass]="isPassVisible ? 'fa-solid fa-slash' : 'fa-regular fa-eye'">
    </i>
    <input [(ngModel)]="loginRequest.password" [type]="isPassVisible ? 'password' : 'text'" name="password" id="password" placeholder="Password">
    <a routerLink="" class="forgotPassword">Lupa password?</a>
    <p class="isRegistered">Belum punya akun? <a routerLink="/register">Register</a></p>
    <app-blue-button (click)="login()">Login</app-blue-button>
  </form>
</app-login-register>
