.red-button {
  width: 150px;
  height: 45px;
  font-size: 30px;
  color: #ffffff;
  border: none;
  background-color: #DC143C;
  border-radius: 50px;
  font-family: 'Petrona', sans-serif;
}

.red-button:hover {
  cursor: pointer;
  background-color: #970b27;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}
