<app-navbar></app-navbar>

<div class="title-container">
  <h1 class="title">Calender Of Training</h1>
</div>

<app-detailed-view [leftTableData]="leftTableData" [rightTableData]="rightTableData"></app-detailed-view>

<div class="container">
  <app-table [columns]="columns" [data]="paginatedData"></app-table>
</div>

<div class="nav">
  <div class="nav-pagination">
    <p (click)="previousPage()">&lt; Preview</p>
    <p>{{ currentPage }} / {{ totalPages }}</p>
    <p (click)="nextPage()">Next &gt;</p>
  </div>
</div>

<div class="container-button">
  <app-blue-button routerLink="/home">Back</app-blue-button>
</div>
