.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

app-input-text {
  width: 400px;
}

.register-title {
  border-bottom: 4px solid #000;
  font-size: 35px;
}

.register-form input {
  font-size: 20px;
  font-family: 'Petrona', sans-serif;
  font-weight: bold;
  padding-left: 50px;
}

#username {
  border: none;
  outline: none;
  border-bottom: 2px solid #000;

}

#password {
  border: none;
  outline: none;
  border-bottom: 2px solid #000;
  width: 400px;
}

.isRegistered {
  font-family: 'Petrona', sans-serif;
  font-weight: bold;
}

.isRegistered a {
  color: #02507E;
}
