<app-login-register>
  <form class="register-form">
    <app-title>Register Account</app-title>
    <div *ngIf="registerError" class="error-message">
      <p>{{ message }}</p>
    </div>
    <app-base-input [type]="'text'" name="nik" placeholder="NIK *"></app-base-input>
    <app-base-input [type]="'text'" name="no_pegawai" placeholder="No Pegawai"></app-base-input>
    <app-base-input [type]="'text'" name="email" placeholder="Email *"></app-base-input>
    <app-base-input [type]="'text'" placeholder="Name *" name="name"></app-base-input>
    <app-base-input [type]="'password'" name="password" placeholder="Password *"></app-base-input>
    <app-base-input [type]="'text'" name="dinas" placeholder="Dinas"></app-base-input>
    <p class="isRegistered">Sudah punya akun? <a routerLink="/">Login</a></p>
    <app-blue-button (buttonClick)="onRegister()">Register</app-blue-button>
  </form>
</app-login-register>
