.register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 2px solid red;
  width: 50%;
}

app-base-input {
  width: 100%;
}

.isRegistered {
  font-family: 'Petrona', sans-serif;
  font-weight: bold;
}

.isRegistered a {
  color: #02507E;
}

.error-message {
  background-color: #ffeeba;
  padding: 2px;
  top: 210px;
  color: red;
  font-weight: bold;
}
