<app-header></app-header>

<div class="container">
  <app-title [pageTitle]="pageTitle"></app-title>

<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-container">
    <div class="left-column">
      <app-base-input
        [(ngModel)]="eSign.idNumber"
        name="idNumber"
        label="No Pegawai"
        [isRequired]="true"
        placeholder="No Pegawai"
        type="text"
        inputMode="text"
        #idNumber="ngModel"
        required
        autocomplete="username">
      </app-base-input>

      <app-base-input
        [(ngModel)]="eSign.role"
        name="role"
        label="Role"
        [isRequired]="true"
        placeholder="Role"
        type="text"
        inputMode="text"
        #nik="ngModel"
        required
        autocomplete="off">
      </app-base-input>

      <app-base-input
        [(ngModel)]="eSign.name"
        name="name"
        label="Nama"
        [isRequired]="true"
        placeholder="Nama"
        type="text"
        inputMode="text"
        #name="ngModel"
        required
        [restrictToPattern]="'^[a-zA-Z .-]+$'"
        [pattern]="'^[a-zA-Z .-]+$'"
        autocomplete="name">
      </app-base-input>
    </div>
    <div class="right-column">
      <app-file-input
        idInput="e_sign_input"
        label="Tanda Tangan"
        (valueChange)="onFileChange('eSign', $event)"
        [isRequired]="true"
        [fileName]="eSign.eSignFileName"
        fileType=".png, .jpg, .jpeg">
      </app-file-input>
      <span>Format png, jpg, atau jpeg.</span>

      <app-dropdown-input
        label="Status"
        placeholder="--- Pilih capability ---"
        [isRequired]="true"
        [options]="statusOptions"
        [initialValue]="eSign.status"
        (selectionChange)="onStatusSelected($event)"
        required>
      </app-dropdown-input>

      <app-dropdown-input
        label="Tipe Tanda Tangan"
        placeholder="--- Pilih tipe tanda tangan ---"
        [isRequired]="true"
        [options]="signatureTypeOptions"
        [initialValue]="eSign.signatureType"
        (selectionChange)="onSignatureTypeSelected($event)"
        required>
      </app-dropdown-input>
    </div>
  </div>

  <div class="container-button">
    <app-white-button type="button" routerLink="/e-sign" class="button">Kembali</app-white-button>
    <app-blue-button type="submit" class="button" [disabled]="!isUpdate && (form.invalid || !eSign.eSign || eSign.status === undefined || !eSign.signatureType)">Simpan</app-blue-button>
  </div>
</form>
</div>
