<app-auth>
  <div class="form-container">
    <form #form="ngForm" (ngSubmit)="onSubmit()" class="form">
      <app-title [pageTitle]="pageTitle"></app-title>

      <div *ngIf="pageTitle === 'Account Verification'" class="alert alert-warning" style="margin-bottom: 15px; padding: 10px; border-radius: 5px; background-color: #fff3cd; color: #856404; border: 1px solid #ffeeba;">
        <i class="fa-solid fa-exclamation-triangle" style="margin-right: 5px;"></i>
        <span>PENTING! 24 jam setelah didaftarkan. Akun pengguna yang tidak terverifikasi akan kami hapus.</span>
      </div>

      <div class="input-container">
        <app-base-input
          class="input"
          label="Email"
          type="email"
          autocomplete="email"
          inputMode="email"
          placeholder="Email yang terdaftar"
          name="email"
          [(ngModel)]="data.email"
          #email="ngModel"
          [isRequired]="true"
          [email]="true"
          required
        >
        </app-base-input>
      </div>

      <div class="buttons-container">
        <app-white-button class="button" type="button" routerLink="/login">Kembali</app-white-button>
        <app-blue-button class="button" type="submit" [disabled]="form.invalid!">Kirim</app-blue-button>
      </div>
    </form>
  </div>
</app-auth>
