<app-title pageTitle="View Curriculum & Syllabus"></app-title>

<form>
  <div class="top-form-container">
    <div class="form-section">
      <app-base-input
        label="Kode Rating"
        [(ngModel)]="capability.kodeRating"
        name="kodeRating"
        [disabled]="true">
      </app-base-input>
    </div>
    <div class="form-section">
      <app-base-input
        label="Nama Training"
        type="text"
        [(ngModel)]="capability.namaTraining"
        name="namaTraining"
        [disabled]="true">
      </app-base-input>
    </div>
  </div>

  <div class="bottom-form-container">
    <div class="form-section">
      <div class="left-input-group">
        <!-- Dynamic inputs for first group -->
        <ng-container *ngFor="let input of regulasiGSEs; let i = index">
          <app-base-input
            [(ngModel)]="regulasiGSEs[i].nama"
            name="regGSE{{i}}"
            label="Regulasi GSE"
            type="text"
            [disabled]="true">
          </app-base-input>
          <app-base-input
            [(ngModel)]="regulasiGSEs[i].durasiTeori"
            name="durasiTeori{{i}}"
            label="Durasi Teori"
            type="text"
            inputMode="tel"
            [disabled]="true">
          </app-base-input>
          <app-base-input
            [(ngModel)]="regulasiGSEs[i].durasiPraktek"
            name="durasiPraktek{{i}}"
            label="Durasi Praktik"
            type="text"
            inputMode="tel"
            [disabled]="true">
          </app-base-input>
        </ng-container>
      </div>
    </div>

    <div class="form-section">
      <div class="right-input-group">
        <!-- Dynamic inputs for second group -->
        <ng-container *ngFor="let input of kompetensis; let i = index">
          <app-base-input
            [(ngModel)]="kompetensis[i].nama"
            name="kompetensi{{i}}"
            label="Kompetensi"
            type="text"
            [disabled]="true">
          </app-base-input>
          <app-base-input
            [(ngModel)]="kompetensis[i].durasiTeori"
            name="durasiTeoriKompetensi{{i}}"
            label="Durasi Teori"
            type="text"
            inputMode="tel"
            [disabled]="true">
          </app-base-input>
          <app-base-input
            [(ngModel)]="kompetensis[i].durasiPraktek"
            name="durasiPraktekKompetensi{{i}}"
            label="Durasi Praktik"
            type="text"
            inputMode="tel"
            [disabled]="true">
          </app-base-input>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="container-button">
    <app-white-button routerLink="/capability" class="button">Back</app-white-button>
    <app-blue-button [routerLink]="editLink" class="button">Edit</app-blue-button>
  </div>
</form>
