.top-form-container,
.bottom-form-container {
  max-width: 100%;
  display: flex;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.top-form-container {
  gap: 30%;
}

.bottom-form-container {
  gap: 1%;
}

.form-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.left-input-group,
.right-input-group {
  display: grid;
  grid-template-columns: 50% 22% 22%;
  gap: 1em;
}

.left-input-group {
  border-right: 5px double grey;
}

.add-button {
  margin-right: 25px;
  margin-left: auto;
  width: 125px;
}

.container-button {
  display: flex;
  justify-content: center;
  gap: 10em;
  width: 90%;
  margin-top: 50px;
  margin-bottom: 15px;
  margin-left: 4em;
}

.button {
  width: 190px;
  height: 45px;
}
