<app-header></app-header>

<div class="container" [class.loading]="isLoading">
  @if(isLoading) {
    <app-loader></app-loader>
  } @else {
    <div *ngIf="!participant && !isLoading" class="error-message">Data peserta tidak ditemukan.</div>
    <div class="section">
      <div class="profile-section">
        <div class="photo">
          @if(pasFoto) {
            <img src="data:{{ photoType }}/;base64,{{ pasFoto }}" alt="Profile Picture" class="file">
          } @else {
            <img src="../../../../assets/image/blank_profile_picture.png" alt="Profile Picture" class="file" [class.blank]="!pasFoto">
          }
        </div>
        <div class="name">
          <h2>{{ participant?.name }}</h2>
        </div>
      </div>
      <div class="qr-section">
        <div class="qr-code">
          <img src="data:image/png;base64,{{ qrCode }}" alt="QR Code" class="file">
        </div>
        <div class="download">
          <span *appRoleBasedAccess="['super admin', 'supervisor', 'lcu']" [routerLink]="idCardLink"><span>Cetak Kartu Peserta</span></span>
          <span><a href="data:image/png;base64,{{ qrCode }}" download="QR_Code.png">Download</a></span>
        </div>
      </div>
    </div>

    <div class="data-section">
      <div *appRoleBasedAccess="['user']" class="settings-nav">
        <div
          class="menu-setting-item"
          [ngClass]="{'active': selectedItem === 0}"
          [routerLink]="['/participants', id, 'profile', 'personal']">
          <i class="fa-solid fa-user"></i>
          <span>Data Pribadi</span>
        </div>
        <div
          class="menu-setting-item"
          [ngClass]="{'active': selectedItem === 1}"
          [routerLink]="['/participants', id, 'profile', 'account']">
          <i class="fa-solid fa-user-gear"></i>
          <span>Akun</span>
        </div>
      </div>
      <div class="card" >
        @if(selectedItem === 0) {
          <app-vertical-table
            [isParticipantDetail]="true"
            [data]="verticalTableData"
            (downloadDocumentClick)="downloadDocument()">
          </app-vertical-table>
        } @else if(selectedItem === 1) {
          <div class="account-form">
            <div class="form-content">
              <app-email-form-card
                cardTitle="Ubah Email"
                (formSubmit)="updateEmailSubmit($event)">
              </app-email-form-card>
            </div>
            <div class="form-content">
              <app-password-update-form-card
                cardTitle="Ubah Password"
                (formSubmit)="updatePasswordSubmit($event)">
              </app-password-update-form-card>
            </div>
          </div>
        }
      </div>
    </div>
    <div class="certificate-table">
      <app-table [columns]="columns" [data]="data"></app-table>
    </div>

    <div class="button-container">
      <app-white-button *appRoleBasedAccess="['super admin', 'lcu', 'supervisor']" [routerLink]="backButtonRoute || '/participants'" class="button">Kembali</app-white-button>
      <app-blue-button *appRoleBasedAccess="['super admin', 'lcu', 'user']" [routerLink]="editLink" class="button">Edit</app-blue-button>
    </div>
  }
</div>
