.view-all {
  position: absolute;
  right: 25px;
  left: auto;
  top: 245px;
  width: 250px;
  height: 45px;
  font-size: 20px;
  color: #02507E;
  border: none;
  background-color: none;
  border-radius: 50px;
  font-family: 'Petrona', sans-serif;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  padding-left: 70px;
  z-index: -2;
}

.view-all i {
  margin-bottom: 7px;
}

.view-all:hover {
  cursor: pointer;
  background-color: #d8dadb;
}

i {
  font-size: 30px;
  position: absolute;
  margin-left: -45px;
  margin-top: 7px;
  cursor: pointer;
}

.table-container {
  width: 95%;
  margin-top: 50px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 25px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.nav-pagination {
  display: flex;
  gap: 20px;
  cursor: pointer;
  font-size: 25px;
}

.nav-pagination p:hover {
  text-decoration: underline;
}

.container-button {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 4em;
}
