.brand-name {
  background-image: url("/assets/image/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 45%;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  padding-left: 80px;
  height: 150px;
}

img:hover {
  cursor: pointer;
}

.brand-logo {
  width: 235px;
  height: 48px;
}

.menu {
  font-size: 32px;
  color: #ffffff;
}

.menu i{
  transition: transform 0.3s ease, color 0.3s ease;
  margin-left: 5px;
}

.menu i.fa-x {
  transform: rotate(180deg);
}

.menu:hover {
  opacity: 50%;
  cursor: pointer;
}

.menu:active i {
  color: #3E799B;
}
