<app-title [pageTitle]="pageTitle"></app-title>

<div class="search-container">
  <app-search
    #searchComponent
    [placeHolder]="placeHolder"
    (searchChange)="onSearchChanged($event)">
  </app-search>
  <div *ngIf="isParticipantCot" class="date-filter">
    <app-date-filter
      #dateFilterComponent>
    </app-date-filter>
  </div>
  <app-view-all (viewAllChange)="viewAll(searchComponent, dateFilterComponent!)"></app-view-all>
</div>

<div class="table-container">
  <app-table
    [columns]="columns"
    [data]="data"
    [state]="state"
    [isLoading]="isLoading">
  </app-table>
</div>

<app-pagination
  [totalPages]="totalPages"
  [currentPage]="currentPage"
  [isLoading]="isLoadingPagination"
  (pageChange)="onPageChanged($event)">
</app-pagination>

<div class="button-container">
  <app-white-button [routerLink]="whiteButtonRoute" class="button">Kembali</app-white-button>
  <app-blue-button *appRoleBasedAccess="roleBassedAccess" [routerLink]="blueButtonRoute" class="button">Tambahkan</app-blue-button>
</div>
