.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  max-width: 80%;
  margin: 20px auto;
  font-size: 22px;
  gap: 10px;
}

.info-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.fill, a {
  color: #266E99;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

a:hover {
  color: purple;
}

.user-table {
  border-collapse: collapse;
  width: 45%;
}

.user-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.download {
  width: 100%;
  display: flex;
  justify-content: end;
}
