<div class="container">
  <div class="info-section">
    <table class="user-table" id="left-table">
      <tr *ngFor="let row of leftTableData">
        <td>{{ row.label }}</td>
        <td class="fill">
          <a *ngIf="row.link" [routerLink]="row.link">{{ row.value ?? 'lihat' }}</a>
          <span *ngIf="!row.link">{{ row.value }}</span>
        </td>
      </tr>
    </table>
    <table class="user-table" id="right-table">
      <tr *ngFor="let row of rightTableData">
        <td>{{ row.label }}</td>
        <td class="fill">
          <a *ngIf="row.link" [routerLink]="row.link">{{ row.value ?? 'lihat' }}</a>
          <span *ngIf="!row.link">{{ row.value }}</span>
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf="isParticipantDetail" class="download">
    <a *appRoleBasedAccess="['super admin', 'lcu']" (click)="downloadDocument()">Download Semua File</a>
  </div>
</div>
