<div class="create-container">
  <img
  class="brand-logo"
  src="../assets/image/logo-GMF.png"
  alt="logo"
  aria-hidden="true"
  >

  <div class="create-description">
    <h1>Enter Your</h1>
    <h1>Account</h1>
    <h1>Information</h1>
    <h1>to Proceed</h1>
  </div>

  <div class="form-container">
    <form #form="ngForm" (ngSubmit)="onSubmit()" class="create-form">
      <app-title [pageTitle]="pageTitle"></app-title>

      <app-base-input
        class="input"
        type="text"
        inputMode="tel"
        placeholder="No Pegawai"
        name="no_pegawai"
        [(ngModel)]="user.no_pegawai"
      ></app-base-input>

      <app-input-role-nik
        class="input"
        [nik]="user.nik"
        (roleIdChange)="onRoleIdChange($event)"
        (nikChange)="onNikChange($event)">
      </app-input-role-nik>

      <app-base-input
        class="input"
        type="text"
        inputMode="text"
        placeholder="Name"
        name="name"
        [(ngModel)]="user.name"
      ></app-base-input>

      <app-base-input
        class="input"
        type="email"
        inputMode="email"
        placeholder="Email"
        name="email"
        [(ngModel)]="user.email"
      ></app-base-input>

      <app-base-input
        class="input"
        type="password"
        inputMode="text"
        placeholder="Password"
        name="password"
        [(ngModel)]="user.password"
      ></app-base-input>

      <app-base-input
        class="input"
        type="text"
        inputMode="text"
        placeholder="Dinas"
        name="dinas"
        [(ngModel)]="user.dinas"
      ></app-base-input>

      <div class="buttons">
        <app-white-button label="Cancel" type="button" routerLink="/users"></app-white-button>
        <app-blue-button label="Save" type="submit"></app-blue-button>
      </div>
    </form>
  </div>
</div>
