<!-- <div class="create-container">
  <img
  class="brand-logo"
  src="../assets/image/logo-GMF.png"
  alt="logo"
  aria-hidden="true"
  >

  <div class="create-description">
    <h1>Enter Your</h1>
    <h1>Account</h1>
    <h1>Information</h1>
    <h1>to Proceed</h1>
  </div>


</div> -->

<app-auth>
  <div class="form-container">
    <form #form="ngForm" (ngSubmit)="onSubmit()" class="create-form">
      <app-title [pageTitle]="pageTitle"></app-title>

      <div *ngIf="isSubmitted && getMessage()" [ngClass]="submitError ? 'error-message' : 'success-message'">
        <p class="error">{{ getMessage() }}</p>
      </div>

      <app-base-input
        [ngClass]="isNotRegisterPage ? 'input-create' : 'input-register'"
        type="text"
        inputMode="tel"
        placeholder="No Pegawai"
        name="no_pegawai"
        [(ngModel)]="user.no_pegawai"
        #noPegawai="ngModel"
      ></app-base-input>

      <app-input-role-nik
        *ngIf="isCreateUser"
        [ngClass]="isNotRegisterPage ? 'input-create' : 'input-register'"
        [nik]="user.nik"
        (roleIdChange)="onRoleIdChange($event)"
        (nikChange)="onNikChange($event)"
      ></app-input-role-nik>

      <app-base-input
        *ngIf="isRegister"
        [ngClass]="isNotRegisterPage ? 'input-create' : 'input-register'"
        type="text"
        inputMode="tel"
        placeholder="NIK *"
        name="nik"
        [(ngModel)]="user.nik"
        #nik="ngModel"
        required
        minlength="16"
        maxlength="16"
      ></app-base-input>

      <app-base-input
        [ngClass]="isNotRegisterPage ? 'input-create' : 'input-register'"
        type="text"
        inputMode="text"
        placeholder="Nama *"
        name="name"
        [(ngModel)]="user.name"
        #name="ngModel"
        required
        pattern="^[a-zA-Z ]+$"
      ></app-base-input>

      <app-base-input
        [ngClass]="isNotRegisterPage ? 'input-create' : 'input-register'"
        type="email"
        inputMode="email"
        placeholder="Email *"
        name="email"
        [(ngModel)]="user.email"
        [(ngModel)]="user.email"
        #email="ngModel"
        required
        email
      ></app-base-input>

      <app-base-input
        [ngClass]="isNotRegisterPage ? 'input-create' : 'input-register'"
        type="password"
        inputMode="text"
        placeholder="Password *"
        name="password"
        [(ngModel)]="user.password"
        #password="ngModel"
        required
      ></app-base-input>

      <app-base-input
        [ngClass]="isNotRegisterPage ? 'input-create' : 'input-register'"
        type="text"
        inputMode="text"
        placeholder="Dinas"
        name="dinas"
        [(ngModel)]="user.dinas"
      ></app-base-input>

      <p *ngIf="saveLabel === 'Register'" class="isRegistered">Belum punya akun? <a routerLink="/login">Login</a></p>

      <div class="buttons">
        <app-white-button *ngIf="isNotRegisterPage" label="Cancel" type="button" routerLink="/home"></app-white-button>
        <app-blue-button [label]="saveLabel" type="submit"></app-blue-button>
      </div>
    </form>
  </div>
</app-auth>
