<app-auth>
  <div class="form-container">
    <form #form="ngForm" (ngSubmit)="onSubmit()" class="form">
      <app-title [pageTitle]="pageTitle"></app-title>

      <div class="input-container">
        <app-base-input
          class="input"
          type="text"
          inputMode="tel"
          label="No Pegawai"
          placeholder="No Pegawai"
          name="noPegawai"
          [(ngModel)]="user.noPegawai"
          #noPegawai="ngModel"
        >
        </app-base-input>

        <app-role-input
          *ngIf="isCreateUser"
          class="input"
          label="Role"
          [isRequired]="isCreate"
          [initialRole]="user.role"
          (roleChange)="onRoleChange($event)"
        >
        </app-role-input>
        <div class="error-message-container"><p *ngIf="!user.role && form.submitted" class="error-message">Wajib diisi</p></div>

        <app-base-input
          *ngIf="isRegister || selectedRole?.role === 'user'"
          class="input"
          type="text"
          inputMode="tel"
          label="NIK"
          [isRequired]="isCreate"
          [placeholder]="isRegister ? 'Masukan NIK sesuai KTP' : 'Role user wajib mengisi NIK'"
          name="nik"
          [(ngModel)]="user.nik"
          #nik="ngModel"
          [required]="isRegister || selectedRole?.role === 'user'"
          [restrictToPattern]="'^[0-9]+$'"
          maxlength="16"
          minlength="16"
          [errorInput]="nik.invalid! && (nik.dirty! || nik.touched!)"
        >
          <p *ngIf="nik.errors?.['required'] && nik.dirty" class="error-message">Wajib diisi</p>
        </app-base-input>

        <app-base-input
          class="input"
          type="text"
          inputMode="text"
          label="Nama"
          [isRequired]="isCreate"
          placeholder="Masukkan nama asli, nama akan digunakan pada data sertifikat"
          name="name"
          [(ngModel)]="user.name"
          #name="ngModel"
          required
          [restrictToPattern]="'^[a-zA-Z ]+$'"
          [errorInput]="name.invalid! && (name.dirty || name.touched)!"
        >
          <p *ngIf="name.errors?.['required'] && name.dirty" class="error-message">Wajib diisi</p>
        </app-base-input>

        <app-base-input
          class="input"
          type="email"
          inputMode="email"
          label="Email"
          [isRequired]="isCreate"
          placeholder="Gunakan alamat email aktif"
          name="email"
          [(ngModel)]="user.email"
          #email="ngModel"
          required
          email
          [disabled]="isUpdate"
          [errorInput]="email.invalid! && (email.dirty || email.touched)!"
        >
          <p *ngIf="email.errors?.['required'] && email.dirty" class="error-message">Wajib diisi</p>
          <p *ngIf="email.errors?.['email'] && email.dirty" class="error-message">Alamat email tidak</p>
        </app-base-input>

        <app-base-input
          class="input"
          [type]="isPassVisible ? 'text' : 'password'"
          [isPassVisible]="isPassVisible"
          (togglePassClick)="passVisible()"
          inputMode="text"
          label="Password"
          [isRequired]="isCreate"
          placeholder="Gunakan minimal 8 karakter dengan kombinasi huruf besar, huruf kecil, dan angka"
          name="password"
          [(ngModel)]="user.password"
          #password="ngModel"
          [required]="isCreate"
          minlength="8"
          pattern="^(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{8,}$"
          [errorInput]="password.invalid! && (password.dirty || password.touched)!"
        >
        <p *ngIf="password.errors?.['required'] && password.dirty" class="error-message">Wajib diisi</p>
        <p *ngIf="password.errors?.['pattern'] && password.dirty" class="error-message">Password harus berisi minimal 8 karakter dengan kombinasi huruf besar, huruf kecil, dan angka</p>
        </app-base-input>

        <app-base-input
          class="input"
          type="text"
          inputMode="text"
          placeholder="Dinas"
          name="dinas"
          [(ngModel)]="user.dinas"
        ></app-base-input>
      </div>

      <p *ngIf="isRegister" class="isRegistered">Sudah punya akun? <a routerLink="/login">Masuk</a></p>

      <div class="buttons">
        <app-white-button *ngIf="isCreateUser" type="button" routerLink="/users">Kembali</app-white-button>
        <app-blue-button type="submit" [ngClass]="isRegister ? 'submit' : ''" [disabled]="form.invalid!">{{ blueButtonLabel }}</app-blue-button>
      </div>
    </form>
  </div>
</app-auth>
