.form-container {
  background-color: #ffffff;
  height: 100%;
  width: 970px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-top: 25px;
}

app-white-button {
  margin-right: 50px;
  width: 190px;
  height: 45px;
}

app-blue-button {
  margin-left: 50px;
  width: 190px;
  height: 45px;
}

.input {
  width: 100%;
}

.isRegistered {
  margin-top: 25px;
  font-weight: bold;
}

.isRegistered a {
  color: #02507E;
}

.error-message,
.success-message {
  margin-top: 15px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  background-color: #ffeeba;
  color: red;
}

.success-message {
  background-color: lightgreen;
  padding: 2px;
  margin-top: 3px;
  color: #000;
}

.submit {
  margin: 0;
  width: 190px;
  height: 45px;
}
