<form #form="ngForm" (ngSubmit)="onSubmit()" class="form">
  <h2>{{ cardTitle }}</h2>

  <div class="card-input-container">
    <div class="input-container">
      <app-base-input
        label="Password baru"
        class="input"
        [type]="isPassVisible1 ? 'text' : 'password'"
        autocomplete="password"
        inputMode="text"
        placeholder="Password baru"
        name="newPassword"
        [(ngModel)]="data.newPassword"
        #newPassword="ngModel"
        [isPassVisible]="isPassVisible1"
        (togglePassClick)="passVisible1()"
        (ngModelChange)="checkPasswordMatch()"
        required
        minLength="8"
        minLengthErrorMessage="Password harus berisi minimal 8 karakter dengan kombinasi huruf besar, huruf kecil, dan angka"
        pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).+$"
        patternErrorMessage="Password harus berisi minimal 8 karakter dengan kombinasi huruf besar, huruf kecil, dan angka"
      >
      </app-base-input>
    </div>

    <div class="input-container">
      <app-base-input
        class="input"
        label="Konfirmasi Password Baru"
        [type]="isPassVisible2 ? 'text' : 'password'"
        [isPassVisible]="isPassVisible2"
        (togglePassClick)="passVisible2()"
        autocomplete="password"
        inputMode="text"
        placeholder="Konfirmasi password"
        name="confirmNewPassword"
        [(ngModel)]="data.confirmNewPassword"
        #confirmNewPassword="ngModel"
        (ngModelChange)="checkPasswordMatch()"
        required
        minLength="8"
        minlength="8"
        minLengthErrorMessage="Password harus berisi minimal 8 karakter dengan kombinasi huruf besar, huruf kecil, dan angka"
        pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9]).+$"
        patternErrorMessage="Password harus berisi minimal 8 karakter dengan kombinasi huruf besar, huruf kecil, dan angka"
      >
      </app-base-input>
    </div>

    <!-- Menambahkan pesan error untuk password mismatch -->
    <div class="error-message-container">
      <span *ngIf="passwordMismatch && form.valid" class="error-message">
        {{ message }}
      </span>
    </div>
  </div>

  <div class="button">
    <app-blue-button class="submit" type="submit" [disabled]="form.invalid!">Ubah Password</app-blue-button>
  </div>
</form>
