.form {
  display: flex;
  flex-direction: column;
  gap: 2em;
  height: 100%;
}

h2 {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ccc;
  height: 2em;
}

.card-input-container {
  width: 107%;
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  gap: 10px;
}

.password-visibility-toggle {
  font-size: 20px;
  margin-top: auto;
  margin-bottom: 5px;
  width: 10%;
}

.input {
  width: 100%;
}

.button {
  display: flex;
  justify-content: start;
}

.submit {
  width: 50%;
  height: 40px;
  font-size: 12px;
}
