<app-title [pageTitle]="pageTitle"></app-title>

<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-container">
    <div class="left-column">
      <app-base-input
        [(ngModel)]="participant.noPegawai"
        name="noPegawai"
        label="No Pegawai"
        type="text"
        inputMode="tel">
      </app-base-input>

      <app-base-input
        [(ngModel)]="participant.nama"
        name="nama"
        [label]="isUpdate ? 'Nama' : 'Nama *'"
        type="text"
        inputMode="text">
      </app-base-input>

      <app-base-input
        [(ngModel)]="participant.nik"
        name="nik"
        [label]="isUpdate ? 'NIK' : 'NIK *'"
        type="text"
        inputMode="text">
      </app-base-input>

      <app-base-input
        [(ngModel)]="participant.dinas"
        name="dinas"
        label="Dinas"
        type="text"
        inputMode="text">
      </app-base-input>

      <app-base-input
        [(ngModel)]="participant.bidang"
        name="bidang"
        label="Bidang"
        type="text"
        inputMode="text">
      </app-base-input>

      <app-company-input
        [selectedCompany]="selectedCompany"
        [companyName]="companyName"
        [showCompanyInput]="showCompanyInput"
      >
      </app-company-input>

      <app-base-input
        [(ngModel)]="participant.email"
        name="email"
        [label]="isUpdate ? 'Email' : 'Email *'"
        type="email"
        inputMode="text"
        [disabled]="isUpdate">
        <p>Anda dapat mengubah alamat email <a >disini</a></p>
      </app-base-input>

      <app-base-input
        [(ngModel)]="participant.noTelp"
        name="noTelp"
        [label]="isUpdate ? 'Nomor Telpon' : 'Nomor Telpon *'"
        type="tel"
        inputMode="tel">
      </app-base-input>

      <app-base-input
        [(ngModel)]="participant.negara"
        name="negara"
        [label]="isUpdate ? 'Kewarganegaraan' : 'Kewarganegaraan *'"
        type="text"
        inputMode="text">
      </app-base-input>
    </div>
    <div class="right-column">
      <app-base-input
        [(ngModel)]="participant.tempatLahir"
        name="tempatLahir"
        [label]="isUpdate ? 'Tempat Lahir' : 'Tempat Lahir *'"
        type="text"
        inputMode="text">
      </app-base-input>

      <app-base-input
        [(ngModel)]="participant.tanggalLahir"
        name="tanggalLahir"
        [label]="isUpdate ? 'Tanggal lahir' : 'Tanggal lahir *'"
        type="date"
        inputmode="date">
      </app-base-input>

      <app-file-input
        idInput="sim_a_input"
        (valueChange)="onFileChange('simA', $event)"
        [label]="isUpdate ? 'Sim A' : 'Sim A *'"
        [fileName]="participant.simAFileName"
        [fileType]="fileType">
      </app-file-input>

      <app-file-input
        idInput="sim_b_input"
        (valueChange)="onFileChange('simB', $event)"
        label="SIM B"
        [fileName]="participant.simBFileName"
        [fileType]="fileType">
      </app-file-input>

      <app-file-input
        idInput="ktp_input"
        (valueChange)="onFileChange('ktp', $event)"
        [label]="isUpdate ? 'KTP' : 'KTP *'"
        [fileName]="participant.ktpFileName"
        [fileType]="fileType">
      </app-file-input>

      <app-file-input
        idInput="foto_input"
        (valueChange)="onFileChange('foto', $event)"
        [label]="isUpdate ? 'Foto' : 'Foto *'"
        [fileName]="participant.fotoFileName"
        [fileType]="fileTypeFoto">
      </app-file-input>

      <app-file-input
        idInput="surat_sehat_input"
        (valueChange)="onFileChange('suratSehatButaWarna', $event)"
        [label]="isUpdate ? 'Surat Ket Sehat & Buta Warna' : 'Surat Ket Sehat & Buta Warna *'"
        [fileName]="participant.suratSehatButaWarnaFileName"
        [fileType]="fileType">
      </app-file-input>

      <app-base-input
        [(ngModel)]="participant.expSuratSehatButaWarna"
        name="expSuratSehatButaWarna"
        [label]="isUpdate ? 'Tanggal Pembuatan Surat Ket Sehat & Buta Warna' : 'Tanggal Pembuatan Surat Ket Sehat & Buta Warna *'"
        type="date"
        inputmode="date">
      </app-base-input>

      <app-file-input
        idInput="surat_bebas_narkoba_input"
        (valueChange)="onFileChange('suratBebasNarkoba', $event)"
        [label]="isUpdate ? 'Surat Ket Bebas Narkoba' : 'Surat Ket Bebas Narkoba *'"
        [fileName]="participant.suratBebasNarkobaFileName"
        [fileType]="fileType">
      </app-file-input>

      <app-base-input
        [(ngModel)]="participant.expSuratBebasNarkoba"
        name="expSuratBebasNarkoba"
        [label]="isUpdate ? 'Tanggal Pembuatan Surat Ket Bebas Narkoba' : 'Tanggal Pembuatan Surat Ket Bebas Narkoba *'"
        type="date"
        inputmode="date">
      </app-base-input>
    </div>
  </div>

  <div class="container-button">
    <app-white-button type="button" routerLink="/participants" class="button">Kembali</app-white-button>
    <app-blue-button type="submit" class="button">Simpan</app-blue-button>
  </div>
</form>
