<main *appRoleBasedAccess="['Super Admin', 'supervisor']">
  <div class="title-container">
    <h1 class="title">Calender Of Training</h1>
  </div>

  <form>
    <div class="form-container">
      <div class="left-column">
        <app-input-text type="text" inputMode="text">Kode Rating</app-input-text>
        <app-input-text type="text" inputMode="text">Nama Training</app-input-text>
        <app-input-date>Tanggal Mulai</app-input-date>
        <app-input-date>Tanggal Selesai</app-input-date>
        <app-input-text type="text" inputMode="text">Lokasi Training</app-input-text>
      </div>
      <div class="right-column">
        <app-input-text type="text" inputMode="text">Instruktur Regulasi GSE</app-input-text>
        <app-input-text type="text" inputMode="text">Instruktur Teori Rating</app-input-text>
        <app-input-text type="text" inputMode="text">Instruktur Praktek 1</app-input-text>
        <app-input-text type="text" inputMode="text">Instruktur Praktek 2</app-input-text>
      </div>
    </div>
  </form>

  <div class="container-button">
    <app-white-button routerLink="/home">Back</app-white-button>
    <app-blue-button routerLink="/cot">Save</app-blue-button>
  </div>

</main>
