<div class="menu" [class.visible]="isMenuVisible" *ngIf="isMenuVisible">
  <ul class="nav-menu">
    <li class="nav-item" *ngFor="let menu of sidebarMenu">
      @if(menu.routerLink) {
        <a
          class="nav-link"
          (click)="closeMenu()"
          [routerLink]="menu.routerLink"
        >
          {{ menu.name }}
        </a>
      } @else {
        <a
          class="nav-link"
          (click)="onLogout()"
        >
          {{ menu.name }}
        </a>
      }
    </li>
  </ul>
</div>
