<div class="menu" [ngClass]="{ 'visible': isMenuVisible }" *ngIf="isMenuVisible">
  <ul class="nav-menu" *ngIf="isMenuVisible">
    <li class="nav-item" *ngFor="let item of generalMenu">
      <a class="nav-link" (click)="closeMenu()" routerLink="{{ item.routerLink }}">{{ item.name }}</a>
    </li>
  </ul>

  <ng-container *ngIf="isMenuVisible">
    <ul *appRoleBasedAccess="['super admin', 'supervisor', 'LCU']" class="nav-menu optional-menu">
      <li class="nav-item" *ngFor="let item of optionalMenu">
          <a class="nav-link" (click)="closeMenu()" routerLink="{{ item.routerLink }}">{{ item.name }}</a>
      </li>
    </ul>
  </ng-container>

  <ul class="nav-menu general-menu" *ngIf="isMenuVisible">
    <li class="definite-item">
      <a (click)="logout()" class="nav-link" (click)="closeMenu()">Logout</a>
    </li>
  </ul>
</div>
