form {
  display: flex;
  width: 100%;
  height: 100%;
}

form input {
  width: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  font-size: 25px;
  padding-left: 10px;
  border: 1px solid #ccc;
  outline: none;
}

form input:focus {
  border: 1px solid #02507E;
}

i {
  margin-top: 4px;
  margin-right: 4px;
  margin-left: 4px;
  color: #02507E;
}

.submit {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
  background-color: #e0e0e0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-left: none;
}

.submit:hover {
  cursor: pointer;
  background-color: #d8dadb;
}
