form input {
  width: 350px;
  height: 40px;
  border-radius: 15px;
  font-size: 25px;
  padding-left: 10px;
}

i {
  margin-top: 4px;
  margin-right: 4px;
  margin-left: 4px;
  color: #02507E;
}

.submit {
  font-size: 30px;
  position: absolute;
  margin-left: -47px;
  margin-top: 3px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background: none;
}

.submit:hover {
  cursor: pointer;
  background-color: #d8dadb;
}

.submit:active {
  color: grey;
}
