<app-auth>
  <div *ngIf="loginError" class="error-message">
    <p>{{ message }}</p>
  </div>
  <form class="login-form" (submit)="login()">
    <app-title pageTitle="Login Account"></app-title>
    <i class="fa-solid fa-user user-icon"></i>
    <input [(ngModel)]="loginRequest.identifier" type="username" id="username" name="username" placeholder="No Pegawai or Email">
    <i class="fa-solid fa-lock pass-icon"></i>
    <app-toggle-password-visibility
      [isPassVisible]="isPassVisible"
      (togglePassClick)="passVisible()">
    </app-toggle-password-visibility>
    <input [(ngModel)]="loginRequest.password" [type]="isPassVisible ? 'text' : 'password'" name="password" id="password" placeholder="Password">
    <a routerLink="/passwordreset" class="forgotPassword">Forgot password?</a>
    <p class="isRegistered">Don't have an account? <a routerLink="/register">Register</a></p>
    <app-blue-button [type]="'submit'" class="button">Login</app-blue-button>
  </form>
</app-auth>
