.white-button {
  width: 170px;
  height: 44px;
  font-size: 30px;
  color: #02507E;
  background-color: #fff;
  border: 3px solid #02507E;
  border-radius: 50px;
}

.white-button:hover {
  cursor: pointer;
  background-color: #d8dadb;
  border: 3px solid #003a5c;
}
