<main>
  <div class="title-container">
    <h1 class="title">Capability</h1>
  </div>

  <div class="form-container">
    <div class="form-section">
      <div class="input-group">
        <app-input-text>Kode Rating</app-input-text>
      </div>
    </div>
    <div class="form-section">
      <div class="input-group">
        <app-input-text type="text">Nama Training</app-input-text>
      </div>
    </div>
  </div>

  <div class="form-container">
    <div class="form-section">
      <div class="input-group">
        <app-input-text type="text">Regulasi GSE</app-input-text>
      </div>
      <div class="input-group durasi-group">
        <div>
          <label>Durasi</label>
          <div class="durasi-inputs">
            <app-input-text type="tel" inputMode="tel" placeholder="Teori"></app-input-text>
            <app-input-text type="tel" inputMode="tel" placeholder="Praktik"></app-input-text>
          </div>
        </div>
        <app-white-button><i class="fa-solid fa-plus"></i></app-white-button>
      </div>
    </div>

    <div class="form-section">
      <div class="input-group">
        <app-input-text>Kompetensi</app-input-text>
      </div>
      <div class="input-group durasi-group">
        <div>
          <label>Durasi</label>
          <div class="durasi-inputs">
            <app-input-text type="tel" inputMode="tel" placeholder="Teori"></app-input-text>
            <app-input-text type="tel" inputMode="tel" placeholder="Praktik"></app-input-text>
          </div>
        </div>
        <app-white-button><i class="fa-solid fa-plus"></i></app-white-button>
      </div>
    </div>
  </div>
</main>
