<app-title pageTitle="Add Curriculum & Syllabus"></app-title>

<form #form="ngForm" (submit)="onSubmit()">
  <div class="top-form-container">
    <div class="form-section">
      <app-base-input
        label="Kode Rating"
        [(ngModel)]="capability.kodeRating"
        name="kodeRating"
        [disabled]="true">
      </app-base-input>
    </div>
    <div class="form-section">
      <app-base-input
        label="Nama Training"
        type="text"
        [(ngModel)]="capability.namaTraining"
        name="namaTraining"
        [disabled]="true">
      </app-base-input>
    </div>
  </div>

  <div class="bottom-form-container">
    <div class="form-section" id="reg-gse">
      <div class="input-group">
        <!-- Dynamic inputs for first group -->
        <ng-container *ngFor="let input of regulasiGSEs; let i = index">
          <app-base-input
            [(ngModel)]="regulasiGSEs[i].nama"
            name="reg_gse_{{i}}"
            label="Regulasi GSE"
            type="text">
          </app-base-input>
          <app-base-input
            [(ngModel)]="regulasiGSEs[i].durasiTeori"
            name="durasi_teori_{{i}}"
            label="Durasi Teori"
            type="text"
            inputMode="tel">
          </app-base-input>
          <app-base-input
            [(ngModel)]="regulasiGSEs[i].durasiPraktek"
            name="durasi_praktek_{{i}}"
            label="Durasi Praktik"
            type="text"
            inputMode="tel">
          </app-base-input>
        </ng-container>
      </div>
      <div class="add-button">
        <app-white-button (whiteButtonClick)="addInput('group1')" type="button">
          <i class="fa-solid fa-plus"></i>
        </app-white-button>
      </div>
    </div>

    <div class="form-section">
      <div class="input-group">
        <!-- Dynamic inputs for second group -->
        <ng-container *ngFor="let input of kompetensis; let i = index">
          <app-base-input
            [(ngModel)]="kompetensis[i].nama"
            name="kompetensi_{{i}}"
            label="Kompetensi"
            type="text">
          </app-base-input>
          <app-base-input
            [(ngModel)]="kompetensis[i].durasiTeori"
            name="durasi_teori_kompetensi_{{i}}"
            label="Durasi Teori"
            type="text"
            inputMode="tel">
          </app-base-input>
          <app-base-input
            [(ngModel)]="kompetensis[i].durasiPraktek"
            name="durasi_praktek_kompetensi_{{i}}"
            label="Durasi Praktik"
            type="text"
            inputMode="tel">
          </app-base-input>
        </ng-container>
      </div>
      <div class="add-button">
        <app-white-button (whiteButtonClick)="addInput('group2')" type="button">
          <i class="fa-solid fa-plus"></i>
        </app-white-button>
      </div>
    </div>
  </div>

  <div class="container-button">
    <app-white-button routerLink="/participants" class="button">Back</app-white-button>
    <app-blue-button type="submit" class="button">Save</app-blue-button>
  </div>
</form>
