.title-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.title {
  border-bottom: 4px solid #000;
  font-size: 25px;
}

.form-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  gap: 10%;
  margin-top: 25px;
  margin-left: 100px;
  margin-right: 100px;
}

.form-section {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.input-group {
  margin-bottom: 15px;
}

.durasi-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.durasi-inputs {
  display: flex;
  gap: 10px;
}

