.blue-button {
  width: 150px;
  height: 45px;
  font-size: 30px;
  color: #ffffff;
  border: none;
  background-color: #02507E;
  border-radius: 50px;
  font-family: 'Petrona', sans-serif;
  transition: background-color 0.3s ease;
}

.blue-button:hover {
  cursor: pointer;
  background-color: #003a5c;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}
