<app-title [pageTitle]="pageTitle"></app-title>

<div class="search-container">
  <app-search
    [placeHolder]="placeHolder"
    (searchChange)="onSearchChanged($event)">
  </app-search>
  <app-view-all (viewAllChange)="viewAll()"></app-view-all>
</div>

<div class="table-container">
  <app-table
    [columns]="columns"
    [data]="data">
  </app-table>
</div>

<app-pagination
  [totalPages]="totalPages"
  [currentPage]="currentPage"
  (pageChange)="onPageChanged($event)">
</app-pagination>

<div class="button-container">
  <app-white-button [routerLink]="whiteButtonRoute" class="button">Kembali</app-white-button>
  <app-blue-button *appRoleBasedAccess="roleBassedAccess" [routerLink]="blueButtonRoute" class="button">Tambahkan</app-blue-button>
</div>
