body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f7;
  margin: 0;
  padding: 0;
}
.chart-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
