<app-navbar></app-navbar>

<div class="title-container">
  <h1 class="title">View Participant Data</h1>
</div>

<div class="search-container">
  <form action="">
    <input type="text" placeholder="Search Participant Data">
  </form>
</div>

<div class="container">
  <table>
    <thead>
      <tr>
        <th>No</th>
        <th>Nama</th>
        <th>No Pegawai</th>
        <th>Dinas</th>
        <th>Bidang</th>
        <th>Perusahaan</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1.</td>
        <td>Heri Susanto</td>
        <td>160088</td>
        <td>-</td>
        <td>-</td>
        <td>Kopkar</td>
        <td></td>
      </tr>
      <tr>
        <td>2.</td>
        <td>Agus Tariono</td>
        <td>160104</td>
        <td>-</td>
        <td>-</td>
        <td>DPP</td>
        <td></td>
      </tr>
      <tr>
        <td>3.</td>
        <td>Adityo Akhmad Taufiq S.</td>
        <td>430869</td>
        <td>-</td>
        <td>-</td>
        <td>DPP</td>
        <td></td>
      </tr>
      <tr>
        <td>4.</td>
        <td>Jaya Sunjaya</td>
        <td>430870</td>
        <td>-</td>
        <td>-</td>
        <td>DPP</td>
        <td></td>
      </tr>
      <tr>
        <td>5.</td>
        <td>Andi Satria</td>
        <td>430880</td>
        <td>-</td>
        <td>-</td>
        <td>DPP</td>
        <td></td>
      </tr>
      <tr>
        <td>6.</td>
        <td>Heri Dwi Irawan</td>
        <td>430882</td>
        <td>-</td>
        <td>-</td>
        <td>DPP</td>
        <td></td>
      </tr>
      <tr>
        <td>7.</td>
        <td>I Nyoman Putra Jaya</td>
        <td>430890</td>
        <td>-</td>
        <td>-</td>
        <td>DPP</td>
        <td></td>
      </tr>
      <tr>
        <td>8.</td>
        <td>I Ketut Jurnaedi</td>
        <td>430891</td>
        <td>-</td>
        <td>-</td>
        <td>DPP</td>
        <td></td>
      </tr>
      <tr>
        <td>9.</td>
        <td>Lihansyah</td>
        <td>430892</td>
        <td>TL</td>
        <td>TLC - 4</td>
        <td>GDPS</td>
        <td></td>
      </tr>
      <tr>
        <td>10.</td>
        <td>Deni Jaelani</td>
        <td>430893</td>
        <td>TL</td>
        <td>TLC - 4</td>
        <td>GDPS</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="nav">
  <div class="nav-pagination">
    &lt; Priview ..... 1 2 3 ..... Next &gt;
  </div>
</div>

<div class="container-button">
  <button routerLink="/home" id="back-button">Back</button>
  <button id="add-button">Add</button>
</div>
