<table>
  <thead>
    <tr>
      @for (column of columns; track $index) {
        <th [ngClass]="{ 'hidden': column.field === 'action' && !hasActionColumn() }">
          {{ column.header }}
        </th>
      }
    </tr>
  </thead>
  <tbody>
    @if (!isLoading) {
      @if(data.length > 0) {
        @for (item of data; track $index) {
          <tr>
            @for (column of columns; track $index) {
              <td [class.hidden]="column.field === 'action' && !hasActionColumn()">
                @if (column.field !== 'action') {
                  @if (column.field === 'kurikulumSilabus') {
                    <a [routerLink]="item.kurikulumSilabus">Lihat</a>
                  } @else if (column.field === 'sim') {
                    <a [routerLink]="item.sim" [state]="state">Lihat</a>
                  } @else if (column.field === 'expSuratSehatButaWarna') {
                    <a [routerLink]="item.expSuratSehatButaWarna.value" [state]="state">{{ item.expSuratSehatButaWarna.label }}</a>
                  } @else if (column.field === 'expSuratBebasNarkoba') {
                    <a [routerLink]="item.expSuratBebasNarkoba.value" [state]="state">{{ item.expSuratBebasNarkoba.label }}</a>
                  } @else if (column.field === 'eSign') {
                    <a [routerLink]="item.eSign">lihat</a>
                  } @else {
                    {{ item[column.field] }}
                  }
                } @else {
                  <app-icon-action [printLink]="item.printLink"[editLink]="item.editLink" [delete]="item.deleteMethod" [detailLink]="item.detailLink" [select]="item.select" [state]="state"></app-icon-action>
                }
              </td>
            }
          </tr>
        }
      } @else {
        <p>Data Tidak ditemukan!!</p>
      }
    } @else {
      <tr *ngFor="let _ of [].constructor(placeholderRows)">
        @for (column of columns; track $index) {
          <td [class.hidden]="column.field === 'action' && !hasActionColumn()">
            <div class="placeholder"></div>
          </td>
        }
      </tr>
    }
  </tbody>
</table>
