.container {
  width: 95%;
  margin-top: 50px;
  background: linear-gradient(to bottom, #3E799B, #3E799B00);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 25px;
}

h1 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

p {
  font-weight: bold;
  font-size: 35px;
  position: absolute;
  left: 50%;
  right: auto;
  bottom: -700px;
}

.fa-chevron-left {
  font-size: 40px;
  position: absolute;
  bottom: -480px;
  left: 25px;
}

.fa-chevron-right {
  font-size: 40px;
  position: absolute;
  bottom: -480px;
  right: 10px;
}

i {
  cursor: pointer;
}

i:hover {
  color: #fff;
}

i:active {
  opacity: 25%;
  font-size: 35px;
}
