<div class="container">
  <h1>Calendar Of Training</h1>
  <table>
      <thead>
          <tr>
              <th>Nama Training</th>
              <th>Mulai</th>
              <th>Selesai</th>
              <th>Kode Rating</th>
              <th>Jumlah Peserta</th>
              <th>Lokasi Training</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Regulasi GSE</td>
              <td>09 January 2024</td>
              <td>10 January 2024</td>
              <td>GSE - Reg</td>
              <td>18</td>
              <td>R.Meos-Material Building lt.2</td>
          </tr>
          <tr>
              <td>Baggage Towing Refreshment Tractor</td>
              <td>10 January 2024</td>
              <td>11 January 2024</td>
              <td>BTT Cont</td>
              <td>8</td>
              <td>R.FAM-Material Building lt.2</td>
          </tr>
          <tr>
              <td>Forklift Refreshment</td>
              <td>15 January 2024</td>
              <td>16 January 2024</td>
              <td>FLT Cont</td>
              <td>8</td>
              <td>R.FAM-Material Building lt.2</td>
          </tr>
          <tr>
              <td>Aircraft Towing Tractor Refreshment</td>
              <td>11 January 2024</td>
              <td>12 January 2024</td>
              <td>AAT Cont</td>
              <td>6</td>
              <td>R.Meos-Material Building lt.2</td>
          </tr>
          <tr>
              <td>Regulasi GSE</td>
              <td>17 January 2024</td>
              <td>19 January 2024</td>
              <td>GSE - Reg</td>
              <td>23</td>
              <td>R.Natuna-Direksi keet</td>
          </tr>
          <tr>
              <td>Forklift</td>
              <td>25 January 2024</td>
              <td>30 January 2024</td>
              <td>FLT</td>
              <td>17</td>
              <td>R.Meos-Material Building lt.2</td>
          </tr>
      </tbody>
  </table>
</div>
