<div class="container">
  <app-title [pageTitle]="pageTitle"></app-title>

  <div class="search-container">
    <app-search
      #searchComponent
      [placeHolder]="placeHolder"
      (searchChange)="onSearchChanged($event)">
    </app-search>
    <div [class.filter-container]="isParticipantCot">
      <app-date-filter
        *ngIf="isParticipantCot"
        #dateFilterComponent>
      </app-date-filter>
      <app-view-all
        (viewAllChange)="viewAll(searchComponent, dateFilterComponent)">
      </app-view-all>
    </div>
  </div>

  <div class="table-container">
    <app-table
      [columns]="columns"
      [data]="data"
      [state]="state"
      [certificateState]="certificateState"
      [isLoading]="isLoading">
    </app-table>
  </div>

  <app-pagination
    [totalPages]="totalPages"
    [currentPage]="currentPage"
    [isLoading]="isLoadingPagination"
    (pageChange)="onPageChanged($event)">
  </app-pagination>

  <div class="button-container">
    <app-white-button [routerLink]="whiteButtonRoute" class="button">Kembali</app-white-button>
    @if (blueButtonRoute) {
      <app-blue-button *appRoleBasedAccess="roleBassedAccess" [routerLink]="blueButtonRoute" class="button" [disabled]="cotStatus === 'Selesai'" [title]="cotStatus === 'Selesai' ? 'Tidak dapat menambah peserta pada COT yang sudah selesai' : ''">Tambahkan</app-blue-button>
    } @else {
      <app-blue-button *appRoleBasedAccess="roleBassedAccess" (blueButtonClick)="onClickChanged()" class="button" [disabled]="cotStatus === 'Selesai'" [title]="cotStatus === 'Selesai' ? 'Tidak dapat menambah peserta pada COT yang sudah selesai' : ''">Tambahkan</app-blue-button>
    }
  </div>
</div>
